Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

Add typst toolchain + typstyle formatter; vendor typst-author/touying-author skills from apcamargo/typst-skills (#158)
  modules/home/tui/ai-assistants/claude-code/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: prefer gh CLI over webfetch for GitHub content
  modules/home/tui/ai-assistants/behaviors.nix
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: prefer gh CLI over webfetch for GitHub content (#159)
  modules/home/tui/ai-assistants/behaviors.nix
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(m920q): remove iwd wifi setup
  hosts/m920q/default.nix
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(m920q): remove iwd wifi setup (#160)
  hosts/m920q/default.nix
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(persistence): drop conflicting /var/empty tmpfiles rule
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(persistence): drop conflicting /var/empty tmpfiles rule (#161)
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(gaming): emulator library and Moonlight tiles for non-Steam games
  home/profiles/desktop/default.nix
  home/profiles/desktop/lutris-games/dark-souls-remastered.yml
  home/profiles/desktop/lutris-games/diablo-2.yml
  home/profiles/desktop/lutris-games/gta-san-andreas.yml
  home/profiles/desktop/lutris-games/n-ball.yml
  home/profiles/desktop/lutris-games/need-for-speed-most-wanted.yml
  home/profiles/desktop/lutris-games/need-for-speed-underground-2.yml
  home/profiles/desktop/lutris-games/ragdoll-masters.yml
  home/profiles/desktop/lutris-games/super-stealball.yml
  hosts/desktop/default.nix
  modules/system/emulation.nix
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(gaming): emulator library and Moonlight tiles for non-Steam games (#162)
  home/profiles/desktop/default.nix
  home/profiles/desktop/lutris-games/dark-souls-remastered.yml
  home/profiles/desktop/lutris-games/diablo-2.yml
  home/profiles/desktop/lutris-games/gta-san-andreas.yml
  home/profiles/desktop/lutris-games/n-ball.yml
  home/profiles/desktop/lutris-games/need-for-speed-most-wanted.yml
  home/profiles/desktop/lutris-games/need-for-speed-underground-2.yml
  home/profiles/desktop/lutris-games/ragdoll-masters.yml
  home/profiles/desktop/lutris-games/super-stealball.yml
  hosts/desktop/default.nix
  modules/system/emulation.nix
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(pkgs): update quantumlauncher to 0.5.1 and drop prismlauncher
  flake-parts/dev.nix
  home/profiles/desktop/hyprland.nix
  pkgs/quantumlauncher/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore(pkgs): update quantumlauncher to 0.5.1 and drop prismlauncher (#163)
  flake-parts/dev.nix
  home/profiles/desktop/hyprland.nix
  pkgs/quantumlauncher/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(skills): globalize jj-commit-workflow as repo-adaptive skill
  .opencode/skills/jj-commit-workflow/SKILL.md
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: none

chore: daily dependency update
  flake.lock
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-homelab
Due: none

feat(skills): globalize jj-commit-workflow as repo-adaptive skill (#165)
  .opencode/skills/jj-commit-workflow/SKILL.md
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: none

chore: daily dependency update (#164)
  flake.lock
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-homelab
Due: none

feat(skills): globalize jj-commit-workflow as repo-adaptive skill
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: none

feat(skills): scope jj-commit-workflow to the invoking workspace (#166)
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: none

feat(wol): persist Wake-on-LAN via udev .link file
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/hardware/power-management.nix
  tests/_snapshots/modules-hardware
  tests/modules-hardware/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(wol): persist Wake-on-LAN via udev .link file (#167)
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/hardware/power-management.nix
  tests/_snapshots/modules-hardware
  tests/modules-hardware/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ai-assistants): shim rm to rip2 for restorable AI deletions
  home/profiles/m920q/default.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/claude-code/default.nix
  modules/home/tui/ai-assistants/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/safe-rm.nix
  tests/_snapshots/modules-ai-assistants
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ai-assistants): shim rm to rip2 for restorable AI deletions (#168)
  home/profiles/m920q/default.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/claude-code/default.nix
  modules/home/tui/ai-assistants/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/safe-rm.nix
  tests/_snapshots/modules-ai-assistants
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): resolve bin/rip collision blocking comin deployment
  home/persistence-tui.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(zellij): Go quota bridge, agent status tab names, 0.45 tile coupling
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  modules/home/tui/default.nix
  modules/home/tui/zellij-quota-bridge.nix
  modules/home/tui/zellij.nix
  pkgs/zellij-plugins/build-wasm.nix
  pkgs/zellij-plugins/default.nix
  pkgs/zellij-plugins/harpoon.Cargo.lock
  pkgs/zellij-plugins/zellij-forgot-0.45.patch
  pkgs/zellij-plugins/zellij-forgot.Cargo.lock
  pkgs/zellij-plugins/zjstatus-hints.Cargo.lock
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): resolve bin/rip collision blocking comin deployment
  home/persistence-tui.nix
  modules/home/tui/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): resolve bin/rip collision blocking comin deployment (#170)
  home/persistence-tui.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(zellij): Go quota bridge, agent status tab names, 0.45 tile coupling (#171)
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  modules/home/tui/default.nix
  modules/home/tui/zellij-quota-bridge.nix
  modules/home/tui/zellij.nix
  pkgs/zellij-plugins/build-wasm.nix
  pkgs/zellij-plugins/default.nix
  pkgs/zellij-plugins/harpoon.Cargo.lock
  pkgs/zellij-plugins/zellij-forgot-0.45.patch
  pkgs/zellij-plugins/zellij-forgot.Cargo.lock
  pkgs/zellij-plugins/zjstatus-hints.Cargo.lock
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

