Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

opencode-v2: bump pin to v2.0.11 (#275)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): point note tools at the current Obsidian vault path
  modules/home/tui/markdown-oxide.nix
  modules/home/tui/nixvim/plugins/obsidian.nix
  modules/home/tui/nixvim/plugins/vimwiki.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): expose CAD and Inbox as Nextcloud external storage
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): expose CAD and Inbox as Nextcloud external storage (#276)
  modules/home/tui/markdown-oxide.nix
  modules/home/tui/nixvim/plugins/obsidian.nix
  modules/home/tui/nixvim/plugins/vimwiki.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Switch Rust development to nix toolchains
  home/persistence-tui.nix
  modules/home/profiles/features.nix
  modules/home/tui/helix/languages.nix
  modules/system/recovery-tools.nix
  tools/templates/README.md
  tools/templates/rust-exercise/.envrc
  tools/templates/rust-exercise/.gitignore
  tools/templates/rust-exercise/Cargo.toml
  tools/templates/rust-exercise/flake.nix
  tools/templates/rust-exercise/src/main.rs
Due: taplo-format, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Switch Rust development to nix toolchains (#277)
  home/persistence-tui.nix
  modules/home/profiles/features.nix
  modules/home/tui/helix/languages.nix
  modules/system/recovery-tools.nix
  tools/templates/README.md
  tools/templates/rust-exercise/.envrc
  tools/templates/rust-exercise/.gitignore
  tools/templates/rust-exercise/Cargo.toml
  tools/templates/rust-exercise/flake.nix
  tools/templates/rust-exercise/src/main.rs
Due: taplo-format, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(just): drop spurious '' escapes in jj-hygiene recipe
  justfile
Due: none

fix(just): drop spurious '' escapes in jj-hygiene recipe (#278)
  justfile
Due: none

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#280)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#281)
  flake.lock
  lock.patch
Due: none

fix(tests): repair monitoring-alerting VM test after exporter gating
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(tests): repair monitoring-alerting VM test after exporter gating (#282)
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(garmin): add InfluxDB health-data pipeline and calendar overlay module
  hosts/m920q/default.nix
  lib/homelab-ports.nix
  modules/system/homelab/default.nix
  modules/system/homelab/garmin-dashboard.json
  modules/system/homelab/garmin.nix
  modules/system/homelab/monitoring.nix
  secrets/secrets.yaml
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(garmin): add Nextcloud calendar to Grafana annotation sync package
  flake-parts/packages.nix
  pkgs/garmin-calendar-sync/default.nix
  pkgs/garmin-calendar-sync/garmin-calendar-sync.py
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(topology): evaluate cleanly with d2 0.9.0 and gate package evals
  .github/workflows/ci.yml
  flake-parts/packages.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci(dependabot): merge with the PAT when available so push workflows run
  .github/workflows/auto-merge-dependabot.yml
Due: actionlint

ci(daily-updates): retry transient create-pull-request push failure
  .github/workflows/daily-updates.yml
Due: actionlint

ci(security): pin trivy-action and trufflehog to release SHAs
  .github/workflows/ci.yml
Due: actionlint

ci(cache): replace DeterminateSystems flakehub-cache with pull-only Cachix
  .github/workflows/ci.yml
  .github/workflows/github-pages.yml
  .github/workflows/vm-tests-nightly.yml
Due: actionlint

feat(garmin): add InfluxDB health-data pipeline and calendar overlay module (#283)
  flake-parts/packages.nix
  hosts/m920q/default.nix
  lib/homelab-ports.nix
  modules/system/homelab/default.nix
  modules/system/homelab/garmin-dashboard.json
  modules/system/homelab/garmin.nix
  modules/system/homelab/monitoring.nix
  pkgs/garmin-calendar-sync/default.nix
  pkgs/garmin-calendar-sync/garmin-calendar-sync.py
  secrets/secrets.yaml
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

ci(dependabot): merge with the PAT when available so push workflows run (#286)
  .github/workflows/auto-merge-dependabot.yml
Due: actionlint

ci(daily-updates): retry transient create-pull-request push failure (#285)
  .github/workflows/daily-updates.yml
Due: actionlint

ci(security): pin trivy-action and trufflehog to release SHAs (#288)
  .github/workflows/ci.yml
Due: actionlint

fix(topology): evaluate cleanly with d2 0.9.0 and gate package evals (#284)
  .github/workflows/ci.yml
  flake-parts/packages.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci(cache): replace DeterminateSystems flakehub-cache with pull-only Cachix (#287)
  .github/workflows/ci.yml
  .github/workflows/github-pages.yml
  .github/workflows/vm-tests-nightly.yml
Due: actionlint

feat(homelab): restructure data domains under Projects and Documents
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#289)
  flake.lock
  lock.patch
Due: none

feat(homelab): restructure data domains under Projects and Documents (#290)
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

phase2: move nextcloud/immich data under services/ with guarded activation mv
  hosts/m920q/default.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(sops): drop unused nixos recipient from creation rules
  .sops.yaml
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

fix(garmin): single-owner sops declaration for influx user password
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci: remove advisory flake-health job
  .github/workflows/ci.yml
Due: actionlint

phase2: move nextcloud/immich data under services/ with guarded activation mv (#291)
  hosts/m920q/default.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(garmin): single-owner sops declaration for influx user password (#293)
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(sops): drop unused nixos recipient from creation rules (#292)
  .sops.yaml
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

envrc: derive the age key through SOPS_AGE_KEY_CMD
  .envrc
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

