Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

fix(homelab): load Navidrome and AdGuard through the Caddy routes
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/navidrome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): add Rescue links and publish Prometheus over the tailnet
  modules/system/homelab/homepage.nix
  modules/system/homelab/monitoring.nix
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(nixvim): explicit-only completion confirm for a beginner-friendly workflow (#374)
  modules/home/tui/nixvim/plugins/completion.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(repo-audit): record the 2026-10-01 incremental nixvim audit
  .opencode/audits/audit-2026-10-01-incremental.md
  .opencode/audits/plan-2026-10-01-incremental.md
Due: none

feat(homelab): add Rescue links and publish Prometheus over the tailnet (#371)
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/navidrome.nix
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(repo-audit): record the 2026-10-01 incremental nixvim audit (#375)
  .opencode/audits/audit-2026-10-01-incremental.md
  .opencode/audits/plan-2026-10-01-incremental.md
Due: none

feat(opencode): bump opencode-v2 to 2.0.22
  flake.lock
  flake.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): show OpenCode Zen quota in the V2 sidebar
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): pin the V1 quota plugin to the4.x line
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): export OPENCODE_CONFIG_DIR for the session
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): add the TUI status line to the V2 client
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): v2.0.22 bump, Zen quota, and TUI status line (#376)
  flake.lock
  flake.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  lock.patch
  tests/_snapshots/hosts-m920q
Due: none

chore: daily dependency update (#377)
  flake.lock
  lock.patch
  tests/_snapshots/hosts-m920q
Due: none

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#378)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#379)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#380)
  flake.lock
  lock.patch
Due: none

feat(homelab): split Nextcloud into app cards and keep Rescue expanded
  modules/system/homelab/homepage.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): split Nextcloud into app cards and keep Rescue expanded (#381)
  modules/system/homelab/homepage.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test(homelab): snapshot dashboard cards and pin route prefix containment
  tests-vm/caddy-proxy.nix
  tests/_snapshots/modules-homelab
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

test(homelab): snapshot dashboard cards and pin route prefix containment (#382)
  tests-vm/caddy-proxy.nix
  tests/_snapshots/modules-homelab
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(tui): deliver opencode attention events as Windows Terminal feedback
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/windows-terminal.nix
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tui): deliver opencode attention events as Windows Terminal feedback (#383)
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/windows-terminal.nix
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#384)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#385)
  flake.lock
  lock.patch
Due: none

chore(tui): drop @mohak34/opencode-notifier plugin
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(tui): drop @mohak34/opencode-notifier plugin (#386)
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#387)
  flake.lock
  lock.patch
Due: none

chore(tui): drop zen provider from quota surfaces
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(tui): drop status-line plugin to stop TUI freeze
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(tui): drop zen provider from quota surfaces (#388)
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(tui): drop status-line plugin to stop TUI freeze (#389)
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

