Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

feat(niri): bind hardware media keys to the active shell
  modules/home/wm/niri/keybinds.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(noctalia): wire backdrop, idle, nightlight and DDC brightness
  hosts/desktop/default.nix
  modules/home/wm/shared/noctalia.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(fish): force-delete dead zellij sessions so reattach can heal (#448)
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(session): restore the inherited PATH for the on-demand niri session (#447)
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(niri): bind hardware media keys to the active shell (#449)
  modules/home/wm/niri/keybinds.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(noctalia): wire backdrop, idle, nightlight and DDC brightness (#450)
  hosts/desktop/default.nix
  modules/home/wm/shared/noctalia.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(stasis): consume the package from nixpkgs instead of the upstream flake input
  flake.lock
  flake.nix
  modules/home/wm/shared/stasis.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(ci): drop the unused Renovate configuration
  renovate.json
Due: none

fix(ci): harden the daily dependency update pipeline
  .github/actions/build-host/action.yml
  .github/workflows/cachix-push.yml
  .github/workflows/daily-updates.yml
Due: actionlint

fix(stasis): consume the package from nixpkgs instead of the upstream flake input (#451)
  flake.lock
  flake.nix
  modules/home/wm/shared/stasis.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(ci): drop the unused Renovate configuration (#452)
  renovate.json
Due: none

fix(ci): harden the daily dependency update pipeline (#453)
  .github/actions/build-host/action.yml
  .github/workflows/cachix-push.yml
  .github/workflows/daily-updates.yml
Due: actionlint

feat(ttt): add TTT editor and herdr integration
  flake.lock
  flake.nix
  modules/home/shells/fish/default.nix
  modules/home/tui/ai-assistants/herdr/default.nix
  modules/home/tui/default.nix
  modules/home/tui/ttt/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ttt): add TTT editor and herdr integration (#454)
  flake.lock
  flake.nix
  modules/home/shells/fish/default.nix
  modules/home/tui/ai-assistants/herdr/default.nix
  modules/home/tui/default.nix
  modules/home/tui/ttt/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(deps): bump determinate-nix to 3.23.1
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore(deps): bump determinate-nix to 3.23.1 (#455)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(monitoring): record Nix build and eval timing from OTel traces
  modules/system/homelab/homepage.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/nix-otel-dashboard.json
  tests/_snapshots/modules-homelab
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): record Nix build and eval timing from OTel traces (#456)
  modules/system/homelab/homepage.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/nix-otel-dashboard.json
  tests/_snapshots/modules-homelab
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#457)
  flake.lock
  lock.patch
Due: none

fix(monitoring): pin the OTel collector own metrics listener
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): pin the OTel collector own metrics listener (#458)
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): push OpenCode V2 session events to the phone via ntfy
  home/profiles/m920q/default.nix
  modules/home/tui/ai-assistants/opencode/ntfy-mobile/index.js
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): push OpenCode V2 session events to the phone via ntfy (#459)
  home/profiles/m920q/default.nix
  modules/home/tui/ai-assistants/opencode/ntfy-mobile/index.js
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): load the ntfy plugin without a bare @opencode/plugin import
  modules/home/tui/ai-assistants/opencode/ntfy-mobile/index.js
Due: none

fix(opencode): load the ntfy plugin without a bare @opencode/plugin import (#460)
  modules/home/tui/ai-assistants/opencode/ntfy-mobile/index.js
Due: none

fix(agents): keep sessions apart and scratch out of commits
  .gitignore
  .opencode/audits/audit-2026-10-01-incremental.md
  .opencode/audits/plan-2026-10-01-incremental.md
  AGENTS.md
  modules/home/tui/ai-assistants/behaviors.nix
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(agents): keep sessions apart and scratch out of commits (#461)
  .gitignore
  .opencode/audits/audit-2026-10-01-incremental.md
  .opencode/audits/plan-2026-10-01-incremental.md
  AGENTS.md
  modules/home/tui/ai-assistants/behaviors.nix
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#462)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#463)
  flake.lock
  lock.patch
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

