Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

fix(kiosk): drive the on-demand session through niri.service
  home/profiles/m920q/niri.nix
  hosts/m920q/default.nix
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(kiosk): drive the on-demand session through niri.service (#198)
  home/profiles/m920q/niri.nix
  hosts/m920q/default.nix
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jj): make git-based tooling work in jj workspaces
  .pre-commit-config.yaml
  flake-parts/dev.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/jujutsu.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jj): make git-based tooling work in jj workspaces (#199)
  .pre-commit-config.yaml
  flake-parts/dev.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/jujutsu.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(agents): isolate parallel opencode sessions in jj workspaces
  AGENTS.md
  flake.lock
  flake.nix
  home/profiles/desktop/default.nix
  home/profiles/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/README-upstream.txt
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/rpc.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/server.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/process.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/state.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/zellij.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/tui.ts
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor: resolve the remaining repo-audit findings
  home/profiles/shared.nix
  hosts/m920q/default.nix
  hosts/shared.nix
  lib/hosts.nix
  modules/home/gui/editors/vscode-extended.nix
  modules/home/gui/editors/zed-extended.nix
  modules/home/tui/helix/languages.nix
  modules/home/tui/yazi/theme/icons-extended.nix
  modules/system/airplay-receiver.nix
  modules/system/display-hotplug.nix
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(agents): isolate parallel opencode sessions in jj workspaces (#200)
  AGENTS.md
  flake.lock
  flake.nix
  home/profiles/desktop/default.nix
  home/profiles/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/README-upstream.txt
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/rpc.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/server.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/process.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/state.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/src/zellij.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-v2/tui.ts
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor: resolve the remaining repo-audit findings (#201)
  home/profiles/shared.nix
  hosts/m920q/default.nix
  hosts/shared.nix
  lib/hosts.nix
  modules/home/gui/editors/vscode-extended.nix
  modules/home/gui/editors/zed-extended.nix
  modules/home/tui/helix/languages.nix
  modules/home/tui/yazi/theme/icons-extended.nix
  modules/system/airplay-receiver.nix
  modules/system/display-hotplug.nix
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jellyfin): create persisted data dirs under the mount source
  modules/system/homelab/jellyfin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test: account for jellyfin in monitoring tests
  tests-vm/monitoring-alerting.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(jellyfin): create persisted data dirs under the mount source (#202)
  modules/system/homelab/jellyfin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test: account for jellyfin in monitoring tests (#204)
  tests-vm/monitoring-alerting.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

test: remove the obsolete m920q mode-switch VM test
  .github/workflows/vm-tests-nightly.yml
  justfile
  modules/system/homelab/zellij-web.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test: remove the obsolete m920q mode-switch VM test (#203)
  .github/workflows/vm-tests-nightly.yml
  justfile
  modules/system/homelab/zellij-web.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode2): pin the v2 build to its own nixpkgs
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(opencode2): pin the v2 build to its own nixpkgs (#206)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(immich): re-cut storage under Media/Imports and the module default media location
  hosts/m920q/default.nix
  modules/system/homelab/immich.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(immich): re-cut storage under Media/Imports and the module default media location (#207)
  hosts/m920q/default.nix
  modules/system/homelab/immich.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(repos): keep repositories only under /per/repos
  hosts/desktop/hardware/hardware-configuration.nix
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): drop local cachix watch-store daemon
  modules/home/tui/cachix.nix
  modules/home/tui/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): make AdGuard DNS caching effective and add fallback
  modules/system/homelab/adguardhome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): probe LAN DNS and WAN reachability/latency
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(repos): keep repositories only under /per/repos (#208)
  hosts/desktop/hardware/hardware-configuration.nix
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): drop local cachix watch-store daemon (#209)
  modules/home/tui/cachix.nix
  modules/home/tui/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): make AdGuard DNS caching effective and add fallback (#210)
  modules/system/homelab/adguardhome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): probe LAN DNS and WAN reachability/latency (#211)
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tui): keybind the m920q mosh session in Windows Terminal
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tui): keybind the m920q mosh session in Windows Terminal (#212)
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): bound the rip graveyard and drop the stale /per graveyard path
  modules/home/shells/bash.nix
  modules/home/shells/default.nix
  modules/home/shells/fish/default.nix
  modules/home/tui/ai-assistants/safe-rm.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): per-filesystem disk alerts and resilient ntfy publishing
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(backup): grant syncoid destroy/hold on replica targets
  modules/system/backup.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): per-filesystem disk alerts and resilient ntfy publishing (#213)
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(backup): grant syncoid destroy/hold on replica targets (#215)
  modules/system/backup.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): bound the rip graveyard and drop the stale /per graveyard path (#214)
  modules/home/shells/bash.nix
  modules/home/shells/default.nix
  modules/home/shells/fish/default.nix
  modules/home/tui/ai-assistants/safe-rm.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

perf(zfs): de-overlap /per snapshot engines and cut retention to 3 months
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/backup.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

perf(zfs): de-overlap /per snapshot engines and cut retention to 3 months (#216)
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/backup.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(hosts): centralize host facts in lib/hosts.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  lib/hosts.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(installer): deduplicate live-ISO configs into installer-shared
  apps/install-remote.nix
  home/profiles/portable/default.nix
  hosts/installer-minimal/default.nix
  hosts/installer-shared.nix
  hosts/installer/default.nix
  hosts/portable/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(system): remove dead act runner chain and Windows cert import
  .actrc
  README.md
  modules/system/containers.nix
  modules/system/development.nix
  modules/system/wsl-integration.nix
  tests/_snapshots/modules-wsl-integration
  tests/modules-wsl-integration/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(system): drop dead module code and commented-out blocks
  hosts/lib.nix
  hosts/shared-gui.nix
  hosts/shared.nix
  lib/defaults.nix
  modules/home/tui/rbw.nix
  modules/home/wm/hyprland/default.nix
  modules/system/default.nix
  modules/system/emergency-shell.nix
  modules/system/hardware/battery.nix
  modules/system/home-manager.nix
  modules/system/wm/cosmic.nix
  modules/vitals.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns
