Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

feat(wsl): enable OpenCode 2 beta
  home/profiles/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(monitoring): align Garmin dashboard queries with the InfluxDB schema (#314)
  modules/system/homelab/garmin-dashboard.json
Due: none

feat(opencode): surface Zen free models in V1 and enable OpenCode 2 on WSL (#315)
  home/profiles/hp-probook-wsl/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(lock-refresh-watchdog): parse clean JSON and measure the effective lock node
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(deploy): treat rev-suffixed versions as opaque in downgrade guard
  tools/scripts/lib-downgrade-compare.sh
  tools/scripts/test-detect-downgrades.sh
Due: none

fix(lock-refresh-watchdog): parse clean JSON and measure the effective lock node (#316)
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ssh): negotiate post-quantum key exchange alongside the classical pin
  modules/system/homelab/ssh-hardened.nix
  modules/system/ssh.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-ssh
  tests/hosts-m920q/expr.nix
  tests/modules-ssh/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(deploy): treat rev-suffixed versions as opaque in downgrade guard (#317)
  tools/scripts/lib-downgrade-compare.sh
  tools/scripts/test-detect-downgrades.sh
Due: none

fix(nix): run in-unit nix calls through config.nix.package
  modules/system/boot-fallback.nix
  modules/system/deployment-validation.nix
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ssh): negotiate post-quantum key exchange alongside the classical pin (#318)
  modules/system/homelab/ssh-hardened.nix
  modules/system/ssh.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-ssh
  tests/hosts-m920q/expr.nix
  tests/modules-ssh/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(nix): run in-unit nix calls through config.nix.package (#319)
  modules/system/boot-fallback.nix
  modules/system/deployment-validation.nix
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#320)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#321)
  flake.lock
  lock.patch
Due: none

fix(niri): render the polkit agent unit with real systemd sections
  modules/home/wm/niri/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(niri): render the polkit agent unit with real systemd sections (#322)
  modules/home/wm/niri/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): persist the tailnet-to-AMT remote path
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(m920q): persist the tailnet-to-AMT remote path (#323)
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(opencode): fail open when an unisolated V2 loads the V1 plugin list
  AGENTS.md
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/rpc.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/server.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/tui.ts
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): strip df percent sign in the disk usage check
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): default to the free OpenCode Zen mimo model after dropping github-copilot
  modules/home/tui/ai-assistants/opencode/shared.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): strip df percent sign in the disk usage check (#324)
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): fail open when an unisolated V2 loads the V1 plugin list (#325)
  AGENTS.md
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/rpc.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/server.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/tui.ts
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): default to the free OpenCode Zen mimo model after dropping github-copilot (#326)
  modules/home/tui/ai-assistants/opencode/shared.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(windows-terminal): retry the mosh profile when wsl.exe fails to start
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): open the full mosh UDP port range in the firewall
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(windows-terminal): retry the mosh profile when wsl.exe fails to start (#327)
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): open the full mosh UDP port range in the firewall (#328)
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): use valid networkd Neighbor keys in the AMT persistence block
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): use valid networkd Neighbor keys in the AMT persistence block (#329)
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): pass docker forward gate for DNAT'd AMT relay traffic
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): pass docker forward gate for DNAT'd AMT relay traffic (#330)
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): seed Obsidian vault settings instead of re-applying them
  home/profiles/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): seed Obsidian vault settings instead of re-applying them (#331)
  home/profiles/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(lib): point the Obsidian vault default at the real vault
  lib/defaults.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(lib): point the Obsidian vault default at the real vault (#332)
  lib/defaults.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(opencode): suppress the env-synthesized github-copilot provider
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): suppress the env-synthesized github-copilot provider (#333)
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns
