Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

chore: daily dependency update
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#169)
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

fix(wol): pin interface name in WoL link file
  modules/system/hardware/power-management.nix
  tests/_snapshots/modules-hardware
  tests/modules-hardware/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test: strip volatile store paths from snapshot values
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-containers
  tests/_snapshots/modules-homelab
  tests/modules-comin/expr.nix
  tests/modules-containers/expr.nix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

test: strip volatile store paths from snapshot values (#173)
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-containers
  tests/_snapshots/modules-homelab
  tests/modules-comin/expr.nix
  tests/modules-containers/expr.nix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(wol): pin interface name in WoL link file (#174)
  modules/system/hardware/power-management.nix
  tests/_snapshots/modules-hardware
  tests/modules-hardware/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(deploy): keep binary cache warm and deployments substitutable
  .github/workflows/cachix-push.yml
  .github/workflows/daily-updates.yml
  flake.lock
  flake.nix
  modules/system/comin.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(deploy): keep binary cache warm and deployments substitutable (#175)
  .github/workflows/cachix-push.yml
  .github/workflows/daily-updates.yml
  flake.lock
  flake.nix
  modules/system/comin.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci(input): lock nixpkgs to the nixos-unstable channel tarball
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci(input): lock nixpkgs to the nixos-unstable channel tarball (#176)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(homelab): power-relay for remote desktop wake and shutdown
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/homelab/default.nix
  modules/system/homelab/power-relay.nix
  tests/_snapshots/modules-power-relay
  tests/modules-power-relay/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): power-relay for remote desktop wake and shutdown (#177)
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/homelab/default.nix
  modules/system/homelab/power-relay.nix
  tests/_snapshots/modules-power-relay
  tests/modules-power-relay/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): power-relay ntfy copy fixes
  modules/system/homelab/power-relay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): power-relay ntfy copy fixes (#178)
  modules/system/homelab/power-relay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): correct power-relay ExecStart to the writer output
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/sounds/complete.wav
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/sound.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/zellij.ts
  modules/system/homelab/power-relay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): correct power-relay ExecStart to the writer output (#179)
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/sounds/complete.wav
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/sound.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/zellij.ts
  modules/system/homelab/power-relay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ai-assistants): make rm shim honor rm missing-path semantics
  modules/home/tui/ai-assistants/safe-rm.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): vendored tab-status indicator with title truncation
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/zellij-quota-bridge.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ai-assistants): make rm shim honor rm missing-path semantics (#180)
  modules/home/tui/ai-assistants/safe-rm.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): vendored tab-status indicator with title truncation (#181)
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/zellij-quota-bridge.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(emulation): size N64 fullscreen to the Moonlight client resolution
  modules/system/emulation.nix
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(system): stop CA tmpfiles clobber, drop dead ssl etc block, rename journald option
  modules/system/containers.nix
  modules/system/ssl-config.nix
  modules/system/wsl-integration.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(system): prune dead SSL options, drop WSL nix WAL flag, bound zellij seed wait
  modules/system/homelab/zellij-web.nix
  modules/system/nix.nix
  modules/system/ssl-config.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(system): stop m920q mode-switch racing the user manager shutdown
  modules/system/m920q.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): adaptive tab-title budget with compact tabs by default
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/zellij.ts
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(ai-assistants): document the jj-workspaces claim workflow
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: none

fix(zellij): push quota immediately when a session appears
  modules/home/tui/zellij-quota-bridge.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): add znew to create sessions with an attached client
  .gitignore
  modules/home/tui/zellij-new.py
  modules/home/tui/zellij-remote.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(ai-assistants): require splitting changes into logical commits
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: none
