Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

fix(m920q): auto-import backup pools on syncoid schedule; drop invalid AdGuard key; update vitals input (#145)
  flake.lock
  modules/system/backup.nix
  modules/system/homelab/adguardhome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(desktop): consolidate Steam runtime, selectable file manager, scoped Zed GPU env
  hosts/desktop/default.nix
  modules/home/gui/terminals/ghostty.nix
  modules/home/profiles/features.nix
  modules/home/wm/niri/default.nix
  modules/system/steam.nix
  pr-body.md
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(vitals): update input to a4e406d (yanked chacha20 fix)
  flake.lock
Due: none

feat(desktop): consolidate Steam runtime, selectable file manager, scoped Zed GPU env (#146)
  hosts/desktop/default.nix
  modules/home/gui/terminals/ghostty.nix
  modules/home/profiles/features.nix
  modules/home/wm/niri/default.nix
  modules/system/steam.nix
  pr-body.md
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(vitals): update input to a4e406d (yanked chacha20 fix) (#147)
  flake.lock
Due: none

chore: daily dependency update
  flake.lock
  pr-body.md
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#148)
  flake.lock
  pr-body.md
  tests/_snapshots/modules-homelab
Due: none

fix(m920q): use Wants (not Requires) for syncoid pool imports
  modules/system/backup.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): use Wants (not Requires) for syncoid pool imports (#149)
  modules/system/backup.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(tests): allow unfree in streaming-services VM for steam eval
  tests-vm/streaming-services.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(tests): allow unfree in streaming-services VM for steam eval (#150)
  tests-vm/streaming-services.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(zellij): delete dead sessions instead of killing them
  hosts/m920q/disko.nix
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(zellij): delete dead sessions instead of killing them (#151)
  hosts/m920q/disko.nix
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): migrate journald extraConfig to settings.Journal
  hosts/m920q/default.nix
  pr-body.md
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): migrate journald extraConfig to settings.Journal (#152)
  hosts/m920q/default.nix
  pr-body.md
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  pr-body.md
Due: none

chore: daily dependency update (#153)
  flake.lock
  pr-body.md
Due: none

feat(wm): add noctalia shell and wayle trial venue
  flake.lock
  flake.nix
  home/profiles/hp-probook-vmware/default.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/noctalia.nix
  modules/home/wm/shared/shell.nix
  modules/home/wm/shared/stasis.nix
  modules/home/wm/shared/walker.nix
  modules/home/wm/shared/wayle.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ai-assistants): add jjwork-first behavior and vitals triage skill
  .opencode/skills/jj-commit-workflow/SKILL.md
  .opencode/skills/repo-audit/SKILL.md
  .opencode/skills/vitals-triage/SKILL.md
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/nix-expert/SKILL.md
  modules/home/tui/ai-assistants/skills/nix-testing/SKILL.md
  pr-body.md
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(system): pin tailscale port, fix homepage host validation, add pixel ssh
  modules/home/tui/git.nix
  modules/system/homelab/homepage.nix
  modules/system/tailscale.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: noctalia shell trial, ai-assistant skills, system fixes (#154)
  .opencode/skills/jj-commit-workflow/SKILL.md
  .opencode/skills/repo-audit/SKILL.md
  .opencode/skills/vitals-triage/SKILL.md
  flake.lock
  flake.nix
  home/profiles/hp-probook-vmware/default.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/nix-expert/SKILL.md
  modules/home/tui/ai-assistants/skills/nix-testing/SKILL.md
  modules/home/tui/git.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/noctalia.nix
  modules/home/wm/shared/shell.nix
  modules/home/wm/shared/stasis.nix
  modules/home/wm/shared/walker.nix
  modules/home/wm/shared/wayle.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
  modules/system/homelab/homepage.nix
  modules/system/tailscale.nix
  pr-body.md
  tests/_snapshots/modules-ai-assistants
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ci): emit markdownlint-clean pr-body from daily updates
  .github/workflows/daily-updates.yml
Due: actionlint

fix(ci): emit markdownlint-clean pr-body from daily updates (#155)
  .github/workflows/daily-updates.yml
Due: actionlint

feat: tokenscope debugging skill and jjwork WIP guard
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/token-debug/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: tokenscope debugging skill and jjwork WIP guard (#156)
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/token-debug/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: prune unused opencode providers, re-enable quota for Go
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/token-debug/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: prune unused opencode providers, re-enable quota for Go (#157)
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/skills/token-debug/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Add typst toolchain + typstyle formatter; vendor typst-author/touying-author skills from apcamargo/typst-skills
  modules/home/tui/ai-assistants/claude-code/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

