Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

docs(ai-assistants): document jj workspace claims and require logical commits
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: none

docs(ai-assistants): document the jj-workspaces claim workflow
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: none

feat(zellij): add znew to create sessions with an attached client
  .gitignore
  modules/home/tui/zellij-new.py
  modules/home/tui/zellij-remote.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): adaptive tab-title budget and session/bar improvements
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/zellij.ts
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(zellij): push quota immediately when a session appears
  modules/home/tui/zellij-quota-bridge.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(system): stop m920q mode-switch racing the user manager shutdown (#182)
  modules/system/containers.nix
  modules/system/emulation.nix
  modules/system/homelab/zellij-web.nix
  modules/system/m920q.nix
  modules/system/nix.nix
  modules/system/ssl-config.nix
  modules/system/wsl-integration.nix
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(ai-assistants): document jj workspace claims and require logical commits (#185)
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: none

feat(zellij): adaptive tab-title budget and session/bar improvements (#184)
  .gitignore
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/README.md
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/package.json
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/config.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/format.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/index.ts
  modules/home/tui/ai-assistants/opencode/zellij-indicator-felix/src/zellij.ts
  modules/home/tui/zellij-new.py
  modules/home/tui/zellij-quota-bridge.nix
  modules/home/tui/zellij-remote.nix
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jj): surface actionable divergence and document clean-history practice
  CLAUDE.md
  README.md
  justfile
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jj): surface actionable divergence and document clean-history practice (#186)
  CLAUDE.md
  README.md
  justfile
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(fish): name zellij tab after working directory
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): move status hints left and drop the clock
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(zellij): move status hints left and drop the clock (#187)
  modules/home/shells/fish/default.nix
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(hosts): make portable a recovery ISO and shelf configs opt-in
  .github/workflows/cachix-push.yml
  .github/workflows/daily-updates.yml
  CLAUDE.md
  README.md
  apps/install-remote.nix
  flake-parts/apps.nix
  flake-parts/packages.nix
  home/profiles/default.nix
  hosts/default.nix
  hosts/disko-zfs-template.nix
  hosts/installer-minimal/default.nix
  hosts/installer/default.nix
  hosts/portable.nix
  hosts/portable/default.nix
  hosts/portable/disko.nix
  hosts/portable/hardware/hardware-configuration.nix
  justfile
  lib/hosts.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-hp-probook-vmware
  tests/_snapshots/hosts-portable
  tests/_snapshots/hosts-surface
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-development
  tests/_snapshots/modules-ssl
  tests/_snapshots/modules-tailscale
  tests/coverage-critical-paths/expr.nix
  tests/hosts-hp-probook-vmware/expr.nix
  tests/hosts-hp-probook-vmware/format.nix
  tests/hosts-portable/expr.nix
  tests/hosts-portable/format.nix
  tests/hosts-surface/expr.nix
  tests/hosts-surface/format.nix
  tests/modules-comin/expr.nix
  tests/modules-development/expr.nix
  tests/modules-ssl/expr.nix
  tests/modules-tailscale/expr.nix
  tools/scripts/check-closure-size.sh
  tools/scripts/profile-boot.sh
  tools/scripts/profile-evaluation.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(hosts): make portable a recovery ISO and shelf configs opt-in (#188)
  .github/workflows/cachix-push.yml
  .github/workflows/daily-updates.yml
  CLAUDE.md
  README.md
  apps/install-remote.nix
  flake-parts/apps.nix
  flake-parts/packages.nix
  home/profiles/default.nix
  hosts/default.nix
  hosts/disko-zfs-template.nix
  hosts/installer-minimal/default.nix
  hosts/installer/default.nix
  hosts/portable.nix
  hosts/portable/default.nix
  hosts/portable/disko.nix
  hosts/portable/hardware/hardware-configuration.nix
  justfile
  lib/hosts.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-hp-probook-vmware
  tests/_snapshots/hosts-portable
  tests/_snapshots/hosts-surface
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-development
  tests/_snapshots/modules-ssl
  tests/_snapshots/modules-tailscale
  tests/coverage-critical-paths/expr.nix
  tests/hosts-hp-probook-vmware/expr.nix
  tests/hosts-hp-probook-vmware/format.nix
  tests/hosts-portable/expr.nix
  tests/hosts-portable/format.nix
  tests/hosts-surface/expr.nix
  tests/hosts-surface/format.nix
  tests/modules-comin/expr.nix
  tests/modules-development/expr.nix
  tests/modules-ssl/expr.nix
  tests/modules-tailscale/expr.nix
  tools/scripts/check-closure-size.sh
  tools/scripts/profile-boot.sh
  tools/scripts/profile-evaluation.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(emulation): fix Moonlight tile fullscreen/aspect and add boxart
  modules/system/emulation.nix
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(wm): wire stylix theming for noctalia and trial it on desktop
  home/profiles/desktop/default.nix
  modules/home/wm/shared/noctalia.nix
  modules/system/stylix-catppuccin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(power): replace desktop power-relay with Tailscale-native helper
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/homelab/default.nix
  modules/system/homelab/power-relay.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-power-relay
  tests/hosts-m920q/expr.nix
  tests/modules-power-relay/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(power): replace desktop power-relay with Tailscale-native helper (#190)
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/homelab/default.nix
  modules/system/homelab/power-relay.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-power-relay
  tests/hosts-m920q/expr.nix
  tests/modules-power-relay/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(emulation): fix Moonlight tile fullscreen/aspect and add boxart (#189)
  modules/system/emulation.nix
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(wm): wire stylix theming for noctalia and trial it on desktop (#191)
  home/profiles/desktop/default.nix
  modules/home/wm/shared/noctalia.nix
  modules/system/stylix-catppuccin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ci): classify lock refresh and pre-build heavy closures
  .github/workflows/daily-updates.yml
  modules/system/maintenance.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): stop timer-disarm false positives
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ci): classify lock refresh and pre-build heavy closures (#193)
  .github/workflows/daily-updates.yml
  modules/system/maintenance.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): stop timer-disarm false positives (#194)
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(system): extract watchdog/deadman recovery into a module
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/default.nix
  modules/system/watchdog.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): add Jellyfin and enable Bluetooth on m920q
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/jellyfin.nix
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tailscale): monitor tailnet peer connectivity
  modules/system/tailscale.nix
  tests/_snapshots/modules-tailscale
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(kiosk): on-demand niri projector session
  flake-parts/packages.nix
  home/profiles/m920q/default.nix
  home/profiles/m920q/niri.nix
  home/profiles/m920q/niri.nix.specialisation
  home/profiles/shared.nix
  hosts/m920q/default.nix
  hosts/shared.nix
  lib/hosts.nix
  modules/system/default.nix
  modules/system/display-manager.nix
  modules/system/firmware.nix
  modules/system/gui.nix
  modules/system/m920q.nix
  modules/system/session-on-demand.nix
  modules/system/wm/hyprland.nix
  modules/system/wm/niri.nix
  tests-vm/default.nix
  tests-vm/m920q-mode-switch.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-monitoring
  tests/hosts-m920q/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(kiosk): on-demand niri projector session (#192)
  flake-parts/packages.nix
  home/profiles/m920q/default.nix
  home/profiles/m920q/niri.nix
  home/profiles/m920q/niri.nix.specialisation
  home/profiles/shared.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  hosts/shared.nix
  lib/hosts.nix
  modules/system/default.nix
  modules/system/display-manager.nix
  modules/system/firmware.nix
  modules/system/gui.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/jellyfin.nix
  modules/system/homelab/monitoring.nix
  modules/system/m920q.nix
  modules/system/session-on-demand.nix
  modules/system/tailscale.nix
  modules/system/watchdog.nix
  modules/system/wm/hyprland.nix
  modules/system/wm/niri.nix
  tests-vm/default.nix
  tests-vm/m920q-mode-switch.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-monitoring
  tests/_snapshots/modules-tailscale
  tests/hosts-m920q/expr.nix
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(comin): replace the auto-push timer with a testing-branch local remote
  CLAUDE.md
  README.md
  flake-parts/packages.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  modules/system/comin.nix
  pkgs/jj-slug/default.nix
  tests/_snapshots/modules-comin
  tests/modules-comin/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(comin): replace the auto-push timer with a testing-branch local remote (#195)
  CLAUDE.md
  README.md
  flake-parts/packages.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/skills/jj-commit-workflow/SKILL.md
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  modules/system/comin.nix
  pkgs/jj-slug/default.nix
  tests/_snapshots/modules-comin
  tests/modules-comin/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(repo-audit): add plan-review target that annotates the plan
  .opencode/skills/repo-audit/SKILL.md
Due: none

docs(ai-assistants): move repository guidance to AGENTS.md
  AGENTS.md
  CLAUDE.md
  modules/home/tui/ai-assistants/behaviors.nix
  tools/CLAUDE.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(ai-assistants): move repository guidance to AGENTS.md (#196)
  AGENTS.md
  CLAUDE.md
  modules/home/tui/ai-assistants/behaviors.nix
  tools/CLAUDE.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(repo-audit): add plan-review target that annotates the plan (#197)
  .opencode/skills/repo-audit/SKILL.md
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

