Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

feat(monitoring): navidrome health probe and down alert (#408)
  modules/system/homelab/monitoring.nix
  tests-vm/monitoring-alerting.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci: evaluate package drvPaths in just validate and AGENTS checks
  AGENTS.md
  justfile
Due: none

ci: evaluate package drvPaths in just validate and AGENTS checks (#410)
  AGENTS.md
  justfile
Due: none

feat(homepage): siteMonitor health probes, service widgets, grafana dashboard shortcut cards
  modules/system/homelab/homepage.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/jellyfin.nix
  modules/system/homelab/navidrome.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/ntfy.nix
  secrets/secrets.yaml
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(homepage): siteMonitor health probes, service widgets, grafana dashboard shortcut cards (#411)
  modules/system/homelab/homepage.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/jellyfin.nix
  modules/system/homelab/navidrome.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/ntfy.nix
  secrets/secrets.yaml
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(homepage): appa wallpaper background and glass widget panel
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/homepage.nix
  tests-vm/caddy-proxy.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homepage): appa wallpaper background and glass widget panel (#412)
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/homepage.nix
  tests-vm/caddy-proxy.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(system): keep night-quiet and auto-cpufreq from fighting
  modules/system/night-quiet.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homepage): restart the dashboard when the widget env changes
  modules/system/homelab/homepage.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(system): keep night-quiet and auto-cpufreq from fighting (#413)
  modules/system/night-quiet.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): bump V2 to 2.0.24 and drop the completion override
  flake.lock
  flake.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(nixvim): point the editor integration at OpenCode V2
  modules/home/tui/nixvim/default.nix
  modules/home/tui/nixvim/lua/config/opencode_server.lua
  modules/home/tui/nixvim/plugins/opencode.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): migrate the shared server to V2
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/system/homelab/opencode-web.nix
  modules/system/homelab/zellij-web.nix
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): share one V2 config root and database under ocws
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/jujutsu.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homepage): restart the dashboard when the widget env changes (#414)
  modules/system/homelab/homepage.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(sops): drop ordering on a unit that does not exist
  hosts/hp-probook-wsl/default.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/garmin.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): migrate the shared server to V2 (#415)
  flake.lock
  flake.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/home/tui/jujutsu.nix
  modules/home/tui/nixvim/default.nix
  modules/home/tui/nixvim/lua/config/opencode_server.lua
  modules/home/tui/nixvim/plugins/opencode.nix
  modules/system/homelab/opencode-web.nix
  modules/system/homelab/zellij-web.nix
  tests/_snapshots/modules-homelab
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(sops): drop ordering on a unit that does not exist (#416)
  hosts/hp-probook-wsl/default.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/garmin.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(nvim): snacks terminal and opencode prompt UI, scooter, debug UI, QoL
  modules/home/tui/nixvim/default.nix
  modules/home/tui/nixvim/keymaps.nix
  modules/home/tui/nixvim/lua/config/scooter.lua
  modules/home/tui/nixvim/options.nix
  modules/home/tui/nixvim/plugins/default.nix
  modules/home/tui/nixvim/plugins/lsp.nix
  modules/home/tui/nixvim/plugins/rust.nix
  modules/home/tui/nixvim/plugins/scooter.nix
  modules/home/tui/nixvim/plugins/snacks.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(nvim): snacks terminal and opencode prompt UI, scooter, debug UI, QoL (#417)
  modules/home/tui/nixvim/default.nix
  modules/home/tui/nixvim/keymaps.nix
  modules/home/tui/nixvim/lua/config/scooter.lua
  modules/home/tui/nixvim/options.nix
  modules/home/tui/nixvim/plugins/default.nix
  modules/home/tui/nixvim/plugins/lsp.nix
  modules/home/tui/nixvim/plugins/rust.nix
  modules/home/tui/nixvim/plugins/scooter.nix
  modules/home/tui/nixvim/plugins/snacks.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#418)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#419)
  flake.lock
  lock.patch
Due: none

fix(nixpkgs): disable black's sandbox checks to unblock CI
  modules/system/nixpkgs-overlays.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci: harden build workflows and verify lock updates before merge
  .github/actions/nix-setup/action.yml
  .github/workflows/cachix-push.yml
  .github/workflows/ci.yml
  .github/workflows/daily-updates.yml
  .github/workflows/github-pages.yml
  .github/workflows/vm-tests-nightly.yml
Due: actionlint

fix(nixpkgs): disable black's sandbox checks to unblock CI (#420)
  modules/system/nixpkgs-overlays.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci: harden build workflows and verify lock updates before merge (#421)
  .github/actions/nix-setup/action.yml
  .github/workflows/cachix-push.yml
  .github/workflows/ci.yml
  .github/workflows/daily-updates.yml
  .github/workflows/github-pages.yml
  .github/workflows/vm-tests-nightly.yml
Due: actionlint

fix(opencode): give the V2 web unit a single ExecStart
  modules/home/tui/ai-assistants/opencode/v2.nix
  tests/_snapshots/modules-homelab
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): give the V2 web unit a single ExecStart (#422)
  modules/home/tui/ai-assistants/opencode/v2.nix
  tests/_snapshots/modules-homelab
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(flake): add a nix-on-droid phone environment
  droid/default.nix
  flake-parts/droid.nix
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(homelab): cap Grafana stat text on narrow screens
  modules/system/homelab/fritz-dashboard.json
  modules/system/homelab/garmin-dashboard.json
Due: none

fix(home): size the zellij web client for phone screens
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(system): give every host a stable machine-id
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(homelab): cap Grafana stat text on narrow screens (#425)
  modules/system/homelab/fritz-dashboard.json
  modules/system/homelab/garmin-dashboard.json
Due: none

feat(flake): add a nix-on-droid phone environment (#426)
  droid/default.nix
  flake-parts/droid.nix
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(system): give every host a stable machine-id (#423)
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(monitoring): emit deploy closure metrics and add a config-health dashboard
  modules/system/comin.nix
  modules/system/homelab/config-health-dashboard.json
  modules/system/homelab/homepage.nix
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-homelab
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
  tools/scripts/emit-deploy-metrics.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): size the zellij web client for phone screens (#424)
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): emit deploy closure metrics and add a config-health dashboard (#427)
  modules/system/comin.nix
  modules/system/homelab/config-health-dashboard.json
  modules/system/homelab/homepage.nix
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-homelab
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
  tools/scripts/emit-deploy-metrics.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

