Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

feat(homelab): add homepage dashboard, topology visualizations, and update utilities
  .github/workflows/github-pages.yml
  .pre-commit-config.yaml
  README.md
  flake-parts/packages.nix
  flake.lock
  flake.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/default.nix
  modules/home/tui/nh.nix
  modules/home/tui/zellij-remote.nix
  modules/system/deployment-validation.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/maintenance.nix
  modules/system/nixpkgs-overlays.nix
  pkgs/topology/default.nix
  pkgs/zellij-plugins/default.nix
  pkgs/zellij-plugins/zellij-attention-fork.patch
  tests/_snapshots/topology
  tests/topology/expr.nix
  tests/topology/format.nix
  tools/scripts/shell-health-check.fish
  tools/scripts/update-system.sh
  tools/scripts/validate-zellij-layouts.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns

refactor(m920q): extract host config, add VM tests and homelab ports
  flake-parts/packages.nix
  flake.nix
  hosts/m920q/default.nix
  justfile
  lib/homelab-ports.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/caddy-proxy.nix
  modules/system/m920q.nix
  namaka.toml
  tests-vm/caddy-proxy.nix
  tests-vm/default.nix
  tests-vm/deferred-maintenance.nix
  tests-vm/m920q-mode-switch.nix
  tests-vm/streaming-services.nix
  tests-vm/zfs-backup.nix
  tests/_snapshots/homelab-port-sync
  tests/homelab-port-sync/expr.nix
  tests/homelab-port-sync/format.nix
  treefmt.toml
Due: taplo-format, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(system): extract tailscale/backup from homelab, register in default modules
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/quality-gates.yml
  LICENSE
  README.md
  flake-parts/packages.nix
  flake.lock
  flake.nix
  hosts/desktop/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  hosts/portable/default.nix
  hosts/shared.nix
  hosts/surface/default.nix
  lib/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/helix/default.nix
  modules/home/tui/helix/languages-core.nix
  modules/home/tui/helix/languages.nix
  modules/home/tui/zellij.nix
  modules/system/airplay-receiver.nix
  modules/system/backup.nix
  modules/system/default.nix
  modules/system/homelab/default.nix
  modules/system/nix.nix
  modules/system/tailscale.nix
  pkgs/zellij-plugins/default.nix
  pkgs/zellij-plugins/zellij-attention-fork.patch
  pkgs/zellij-plugins/zellij-attention.Cargo.lock
  pkgs/zellij-plugins/zellij-attention.patch
  tests-vm/streaming-services.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: add zfsutil for native ZFS mountpoints
  hosts/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(system): remediate hard-way anti-patterns from audit
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  modules/home/wm/cosmic/default.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/graphical-service.nix
  modules/home/wm/shared/stasis.nix
  modules/system/deployment-validation.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/monitoring.nix
  modules/system/m920q.nix
  modules/system/maintenance.nix
  modules/system/specialisations.nix
  tests-vm/deferred-maintenance.nix
  tests-vm/m920q-mode-switch.nix
  tests-vm/streaming-services.nix
  tests-vm/zfs-backup.nix
  tests/_snapshots/modules-deployment-validation
  tests/modules-deployment-validation/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): drop dead graphical-session ordering in spotify-player daemon
  modules/home/tui/spotify-player.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(system): drop dbus-broker notify-reload shim
  modules/system/session/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(system): remove unused autoUpdate machinery
  hosts/desktop/default.nix
  hosts/hp-probook-vmware/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  modules/system/maintenance.nix
  tests/_snapshots/hosts-desktop
  tests/_snapshots/hosts-hp-probook-vmware
  tests/_snapshots/modules-maintenance
  tests/hosts-desktop/expr.nix
  tests/hosts-hp-probook-vmware/expr.nix
  tests/modules-maintenance/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(mosh): enable mosh on m920q and add WSL homelab connect function
  home/profiles/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): allow javascript in development.languages enum
  modules/home/profiles/features.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(docs): fetch the topology filenames the package actually emits
  docs/site/index.html
Due: none

fix(apps): abort install-remote when no labeled swap partition exists
  apps/install-remote.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore: weekly dependency update
  flake.lock
Due: none

fix(apps): pass GitHub token to installer via SSH stdin, not argv
  apps/install-remote.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(apps): derive installer host lists from flake.lib.hosts
  apps/install-remote.nix
  apps/nixos-anywhere.nix
  flake-parts/apps.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(wt): add m920q mosh profile to Windows Terminal
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(wt): route m920q profile through WSL default shell wrapper
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(apps): declare install-remote dependencies via writeShellApplication
  apps/install-remote.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(wt): set wifi glyph icon on m920q mosh profile
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci: rename weekly dependency updates to daily and fix stalled auto-merge
  .github/workflows/daily-updates.yml
  .github/workflows/stale-branches.yml
  CLAUDE.md
  README.md
  modules/home/tui/nh.nix
  modules/system/comin.nix
  modules/system/maintenance.nix
  tools/scripts/update-system.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(wt): encode wifi glyph icon via fromJSON
  modules/home/tui/windows-terminal.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): migrate grafana alert datasources to object form
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): make Grafana alert notifications actually deliver
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
  tests/modules-monitoring/format.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(repo): add maintenance script suite, fritzbox toggle; fix mosh input and yazi fetchers
  .github/workflows/vm-tests-nightly.yml
  .pre-commit-config.yaml
  .secretsignore
  flake-parts/dev.nix
  flake-parts/packages.nix
  justfile
  modules/home/tui/yazi/plugins/git.nix
  modules/home/tui/zellij.nix
  modules/system/homelab/monitoring.nix
  modules/system/m920q.nix
  scripts/check-closure-size.sh
  scripts/check-dangerous-patterns.sh
  scripts/check-flake-inputs.sh
  scripts/check-installer-keys.sh
  scripts/detect-downgrades.sh
  scripts/detect-unused-modules.sh
  scripts/guard-downgrades.sh
  scripts/install-nixos
  scripts/profile-boot.sh
  scripts/profile-evaluation.sh
  scripts/shell-health-check.fish
  scripts/test-detect-downgrades.sh
  scripts/update-system.sh
  scripts/validate-commit-msg.sh
  scripts/validate-zellij-layouts.sh
  tests-vm/default.nix
  tests-vm/fixtures/monitoring/secrets.yaml
  tests-vm/fixtures/monitoring/test-age-key.txt
  tests-vm/monitoring-alerting.nix
  tools/scripts/test-detect-downgrades.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns

fix(m920q): keep greetd alive until after the switch test
  modules/system/m920q.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): repair three never-firing-correctly alert rules
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(update): live CI progress, single script home, lock-refresh watchdog
  .pre-commit-config.yaml
  flake-parts/dev.nix
  hosts/m920q/default.nix
  modules/system/maintenance.nix
  scripts/check-closure-size.sh
  scripts/check-dangerous-patterns.sh
  scripts/check-flake-inputs.sh
  scripts/check-installer-keys.sh
  scripts/detect-downgrades.sh
  scripts/detect-unused-modules.sh
  scripts/guard-downgrades.sh
  scripts/profile-boot.sh
  scripts/profile-evaluation.sh
  scripts/test-detect-downgrades.sh
  scripts/update-system.sh
  scripts/validate-commit-msg.sh
  scripts/validate-zellij-layouts.sh
  tools/scripts/install-nixos
  tools/scripts/shell-health-check.fish
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

feat(update): report input and package changes after lock refresh
  .github/workflows/daily-updates.yml
  tools/scripts/update-system.sh
Due: actionlint

fix(zellij): use KDL line comments for locked-mode fallback key
  modules/home/tui/zellij.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(airplay): line-buffer uxplay logs and debounce HDMI hotplug stop
  modules/system/airplay-receiver.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(jjwork): auto-abandon provably absorbed stale local work
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): alert titles carry hostname; detect disarmed timers
  modules/system/maintenance.nix
  tools/scripts/detect-downgrades.sh
  tools/scripts/test-detect-downgrades.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): add repo-audit skill
  .opencode/skills/repo-audit/SKILL.md
Due: none

fix(ci): request squash merge method in auto-merge workflow
  .github/workflows/auto-merge.yml
Due: actionlint

feat(vcs): harden jjwork cleanup, add jj-hygiene recipe, disable git auto-gc
  justfile
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/git.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): add repo-audit skill (#105)
  .github/workflows/auto-merge.yml
  .opencode/skills/repo-audit/SKILL.md
Due: actionlint
