Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

fix(wm): make session services fail fast and share keybind truth
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/wl-gammarelay.nix
  tests-vm/streaming-services.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): make services fail loud, self-heal, and stop faking health
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/opencode-web.nix
  modules/system/homelab/zellij-web.nix
  modules/system/maintenance.nix
  modules/system/ssl-config.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): make services fail loud, self-heal, and stop faking health (#217)
  .actrc
  README.md
  apps/install-remote.nix
  home/profiles/portable/default.nix
  hosts/desktop/default.nix
  hosts/installer-minimal/default.nix
  hosts/installer-shared.nix
  hosts/installer/default.nix
  hosts/lib.nix
  hosts/m920q/default.nix
  hosts/portable/default.nix
  hosts/shared-gui.nix
  hosts/shared.nix
  lib/defaults.nix
  lib/hosts.nix
  modules/home/tui/rbw.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/wl-gammarelay.nix
  modules/system/containers.nix
  modules/system/default.nix
  modules/system/development.nix
  modules/system/emergency-shell.nix
  modules/system/hardware/battery.nix
  modules/system/home-manager.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/opencode-web.nix
  modules/system/homelab/zellij-web.nix
  modules/system/maintenance.nix
  modules/system/ssl-config.nix
  modules/system/wm/cosmic.nix
  modules/system/wsl-integration.nix
  modules/vitals.nix
  tests-vm/streaming-services.nix
  tests/_snapshots/modules-wsl-integration
  tests/modules-wsl-integration/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): move hardware self-tests out of the bedroom quiet window
  hosts/m920q/default.nix
  tests/_snapshots/hosts-m920q
  tests/hosts-m920q/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(monitoring): measure determinate-nixd GC cadence for the strategy decision
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): measure determinate-nixd GC cadence for the strategy decision (#218)
  hosts/m920q/default.nix
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-monitoring
  tests/hosts-m920q/expr.nix
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): stop the NoData burst on fresh deployments and scope the GC counter
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): stop the NoData burst on fresh deployments and scope the GC counter (#219)
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  lock.patch
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#220)
  flake.lock
  lock.patch
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#221)
  flake.lock
  lock.patch
Due: none

feat(home): revive XDG-clean session vars and remove dead module
  home/default.nix
  modules/home/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): host user dirs on the data pool via symlinks
  home/profiles/m920q/default.nix
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(desktop): import the GUI app-state persistence chain
  home/profiles/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(flake): survive the Go 1.25 builder removal in nixos-unstable
  flake.lock
  flake.nix
  modules/system/nixpkgs-overlays.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(flake): survive the Go 1.25 builder removal in nixos-unstable (#222)
  flake.lock
  flake.nix
  modules/system/nixpkgs-overlays.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): revive XDG-clean session vars and remove dead module (#223)
  home/default.nix
  modules/home/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(desktop): import the GUI app-state persistence chain (#224)
  home/profiles/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(m920q): host user dirs on the data pool via symlinks (#225)
  home/profiles/m920q/default.nix
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(ci): unblock nixpkgs b1b875982b17 fallout in CI builds
  flake-parts/packages.nix
  hosts/installer-shared.nix
  modules/system/nixpkgs-overlays.nix
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ci): pin flakehub-cache-action to dodge the 401 regression
  .github/workflows/github-pages.yml
Due: actionlint

fix(ci): unblock nixpkgs b1b875982b17 fallout in CI builds (#226)
  flake-parts/packages.nix
  hosts/installer-shared.nix
  modules/system/nixpkgs-overlays.nix
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#227)
  flake.lock
  lock.patch
Due: none

fix(ci): pin flakehub-cache-action to dodge the 401 regression (#228)
  .github/workflows/github-pages.yml
Due: actionlint

feat(wm): add Dank Material Shell trial option (wm.shell = dms)
  flake.lock
  flake.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/dms.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/shell.nix
  modules/home/wm/shared/stasis.nix
  modules/home/wm/shared/walker.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(agents): add session close-out check
  AGENTS.md
Due: none

feat(wm): add Dank Material Shell trial option (wm.shell = dms) (#229)
  flake.lock
  flake.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/dms.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/shell.nix
  modules/home/wm/shared/stasis.nix
  modules/home/wm/shared/walker.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(agents): consolidate the close-out workflow rule
  AGENTS.md
Due: none

docs(agents): consolidate the close-out workflow rule (#231)
  AGENTS.md
Due: none

fix(opencode): pin v1 database to the legacy stable file
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(AGENTS): add a session close-out check to the workflow
  flake.lock
  flake.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/dms.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/shell.nix
  modules/home/wm/shared/stasis.nix
  modules/home/wm/shared/walker.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(AGENTS): add a session close-out check to the workflow (#232)
  flake.lock
  flake.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared-imports.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/dms.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/shell.nix
  modules/home/wm/shared/stasis.nix
  modules/home/wm/shared/walker.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#233)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#234)
  flake.lock
  lock.patch
Due: none

fix(homelab): declare ntfy-sh user for the fixed-user service
  modules/system/homelab/ntfy.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(boot): tolerate bless on long-lived boots whose entry aged off the ESP
  modules/system/boot-fallback.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns
