Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

chore: daily dependency update (#334)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#335)
  flake.lock
  lock.patch
Due: none

chore(sops): rotate the AMT secret
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

refactor(m920q): run AMT LMS natively in an FHS env instead of docker
  flake-parts/packages.nix
  hosts/m920q/default.nix
  pkgs/intel-lms/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore(sops): rotate the AMT secret (#336)
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

chore: daily dependency update (#337)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#338)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#339)
  flake.lock
  lock.patch
Due: none

refactor(m920q): run AMT LMS natively in an FHS env instead of docker (#340)
  flake-parts/packages.nix
  hosts/m920q/default.nix
  pkgs/intel-lms/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore: daily dependency update (#341)
  flake.lock
  lock.patch
Due: none

docs(monitoring): reframe the GC-cadence instrumentation as a tripwire
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/hosts-m920q/expr.nix
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(flake): bump determinate to 3.22.5
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(maintenance): reclaim the store daily instead of one skippable week
  hosts/m920q/default.nix
  modules/system/maintenance.nix
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(monitoring): reframe the GC-cadence instrumentation as a tripwire (#342)
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/hosts-m920q/expr.nix
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): reclaim the store daily instead of one skippable week (#343)
  hosts/m920q/default.nix
  modules/system/maintenance.nix
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(flake): bump determinate to 3.22.5 (#344)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

alerting: publish every alert to an external ntfy topic out-of-band
  hosts/m920q/default.nix
  lib/ntfy-send.nix
  modules/system/maintenance.nix
  modules/system/tailscale.nix
  secrets/secrets.yaml
  tests/_snapshots/modules-tailscale
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

alerting: publish every alert to an external ntfy topic out-of-band (#345)
  hosts/m920q/default.nix
  lib/ntfy-send.nix
  modules/system/maintenance.nix
  modules/system/tailscale.nix
  secrets/secrets.yaml
  tests/_snapshots/modules-tailscale
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

secrets: store AMT TLS mini-CA material for reissue and pinning
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

secrets: store AMT TLS mini-CA material for reissue and pinning (#346)
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

alerting: route alerts by class with publish-failure safety net
  hosts/m920q/default.nix
  lib/ntfy-send.nix
  modules/system/maintenance.nix
  modules/system/tailscale.nix
  tests/_snapshots/modules-tailscale
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

alerting: route alerts by class with publish-failure safety net (#347)
  hosts/m920q/default.nix
  lib/ntfy-send.nix
  modules/system/maintenance.nix
  modules/system/tailscale.nix
  tests/_snapshots/modules-tailscale
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): add circumflex and newsboat for Hacker News reading
  home/profiles/hp-probook-wsl/default.nix
  modules/home/tui/default.nix
  modules/home/tui/newsboat.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): add circumflex and newsboat for Hacker News reading (#348)
  home/profiles/hp-probook-wsl/default.nix
  modules/home/tui/default.nix
  modules/home/tui/newsboat.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): dispatch newsboat links to circumflex and fix TUI link openers
  home/profiles/hp-probook-wsl/default.nix
  modules/home/tui/newsboat.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): dispatch newsboat links to circumflex and fix TUI link openers (#349)
  home/profiles/hp-probook-wsl/default.nix
  modules/home/tui/newsboat.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): install rsync behind the merge/rsync shell aliases
  modules/home/shells/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): attach zellij in local WSL shells, not only over SSH
  hosts/hp-probook-wsl/default.nix
  hosts/shared.nix
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): resolve nix-locate against the prebuilt nix-index database
  modules/home/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(comin): poll the local checkout on hp-probook-wsl for jjtest
  hosts/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(home): install rsync behind the merge/rsync shell aliases (#351)
  modules/home/shells/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(home): resolve nix-locate against the prebuilt nix-index database (#352)
  modules/home/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(home): attach zellij in local WSL shells, not only over SSH (#353)
  hosts/hp-probook-wsl/default.nix
  hosts/shared.nix
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(comin): poll the local checkout on hp-probook-wsl for jjtest (#354)
  hosts/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(m920q): homepage AMT rescue cards + siteMonitor and prefix-drift probe in amt-relay-converge
  hosts/m920q/default.nix
  modules/system/homelab/homepage.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns
