Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

fix: auto-label dependabot, Nextcloud cleanup, flake lock update, fix treefmt
  .github/workflows/auto-label-dependabot.yml
  flake.lock
  modules/system/homelab/nextcloud.nix
  tests/_snapshots/coverage-critical-paths
  treefmt.toml
Due: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: auto-label dependabot, Nextcloud cleanup, flake lock update, fix treefmt (#33)
  .github/workflows/auto-label-dependabot.yml
  flake.lock
  modules/system/homelab/nextcloud.nix
  tests/_snapshots/coverage-critical-paths
  treefmt.toml
Due: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: add Navidrome, enhance homelab/Niri/terminals/PostgreSQL, add gh CLI, fix jj diff and push aliases
  flake.nix
  hosts/m920q/default.nix
  modules/home/tui/jujutsu.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

flake.lock: Update
  flake.lock
Due: none

feat: add Navidrome, enhance homelab/Niri/terminals/PostgreSQL, add gh CLI, fix jj diff and push aliases (#34)
  flake.lock
  flake.nix
  hosts/m920q/default.nix
  modules/home/tui/jujutsu.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Feature/add navidrome (#35)
  flake.lock
Due: none

fix(wezterm): clean launcher menu, remove herdr flake input, WSL fixes
  .github/workflows/weekly-updates.yml
  .lsp.json
  flake.lock
  flake.nix
  hosts/hp-probook-wsl/default.nix
  modules/home/shells/starship.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/default.nix
  modules/system/nix.nix
  modules/system/wsl-integration.nix
  tests/_snapshots/coverage-critical-paths
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

wsl: reduce vitals noise: /var/empty best-effort chmod, early-bin symlinks for sops, resolve merge conflicts in starship
  README.md
  apps/install-remote.nix
  hosts/hp-probook-wsl/default.nix
  lib/defaults.nix
  modules/home/shells/fish/default.nix
  modules/home/shells/starship.nix
  modules/home/tui/sops.nix
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: add opencode skill, update hosts/shells/pkgs config, and refresh flake.lock
  .lsp.json
  .opencode/skills/jj-commit-workflow/SKILL.md
  flake.lock
  hosts/hp-probook-wsl/default.nix
  hosts/installer-minimal/default.nix
  hosts/installer/default.nix
  modules/home/gui/terminals/wezterm.nix
  modules/home/shells/fish/default.nix
  modules/home/shells/starship.nix
  modules/system/nix.nix
  modules/system/recovery-tools.nix
  pkgs/scooter-hx/default.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-containers
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): add Caddy proxy and Fritz dashboard, enhance Immich/Nextcloud/Monitoring
  .lsp.json
  .sops.yaml
  flake.lock
  hosts/m920q/default.nix
  modules/system/airplay-receiver.nix
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/default.nix
  modules/system/homelab/fritz-dashboard.json
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/navidrome.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/ssh-hardened.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-containers
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat: migrate Sunshine to Moonshine, add dssh pkg, add IRIS on m920q
  .lsp.json
  flake-parts/packages.nix
  flake.lock
  flake.nix
  home/profiles/desktop/niri.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  hosts/m920q/disko.nix
  modules/home/shells/bash.nix
  modules/home/shells/fish/functions/jj.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/remote-control.nix
  modules/system/moonshine.nix
  modules/system/nixpkgs-overlays.nix
  modules/system/stylix-catppuccin.nix
  modules/system/sunshine.nix
  pkgs/dssh/default.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-desktop
  tests/_snapshots/modules-containers
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: use niri-unstable from flake input instead of nixpkgs niri-26.04
  modules/home/wm/niri/default.nix
  modules/system/wm/niri.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(desktop): import nixpkgs-overlays to fix niri-26.04 libdisplay-info incompatibility
  hosts/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(desktop): use pkgs.niri with overlay instead of flake input niri-unstable
  hosts/desktop/default.nix
  modules/home/wm/niri/default.nix
  modules/system/wm/niri.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: use overlay-patched pkgs.niri for UWSM registration
  modules/system/session/niri.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: disable flaky poetry tests in nixpkgs-overlays
  hosts/m920q/default.nix
  modules/home/shells/bash.nix
  modules/system/nixpkgs-overlays.nix
  modules/system/session/niri.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: bump nixpkgs/niri for niri build fix and improve Nextcloud, Caddy and jj tooling
  flake.lock
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/default.nix
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/nextcloud.nix
  modules/system/nix.nix
  modules/system/nixpkgs-overlays.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: add opencode skill, update hosts/shells/pkgs config, and refresh flake.lock
  flake-parts/packages.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/helix/languages-core.nix
  modules/home/tui/helix/languages-extended.nix
  modules/home/tui/jujutsu.nix
  pkgs/jj-lsp/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: bump nixpkgs/niri pins after rebase onto refreshed main
  flake.lock
Due: none

feat(homelab): add AdGuard Home Prometheus exporter
  .lsp.json
  flake-parts/packages.nix
  flake.lock
  hosts/m920q/default.nix
  modules/home/default.nix
  modules/home/profiles/features.nix
  modules/home/tui/cachix.nix
  modules/home/tui/helix/default.nix
  modules/home/tui/helix/languages-extended.nix
  modules/home/tui/zellij.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/ssh-hardened.nix
  modules/system/ssh.nix
  pkgs/adguard-exporter/default.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-containers
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

chore(devshell): add markdownlint-cli and fix nix fmt
  .lsp.json
  .markdownlint.json
  .opencode/skills/jj-commit-workflow/SKILL.md
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  flake-parts/dev.nix
  hosts/installer/README.md
  hosts/installer/ssh_keys/README.md
  modules/home/tui/ai-assistants/claude-code/agents/nix-expert.md
  modules/home/tui/ai-assistants/claude-code/agents/nix-testing.md
  modules/home/tui/ai-assistants/skills/nix-expert/SKILL.md
  modules/home/tui/ai-assistants/skills/nix-testing/SKILL.md
  modules/home/tui/yazi/theme/filetype.json
  modules/system/homelab/fritz-dashboard.json
  renovate.json
  treefmt.toml
  tui.json
Due: taplo-format, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(devshell): port jjpush to shell-agnostic jjpush command
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(fish/jj): drop jj dispatcher and redundant aliases
  CLAUDE.md
  README.md
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tui): deploy Windows Terminal settings from Nix + jj pr helpers
  hosts/hp-probook-wsl/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/default.nix
  modules/home/tui/git.nix
  modules/home/tui/windows-terminal.nix
  modules/system/nixpkgs-overlays.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jj): strip graph chars from jj log parsing in jjwork/jjpush
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(helix,ci): migrate to nhx, add downgrade guard and cachix push
  .github/workflows/cachix-push.yml
  README.md
  flake-parts/packages.nix
  flake.lock
  flake.nix
  hosts/desktop/default.nix
  hosts/hp-probook-vmware/default.nix
  justfile
  modules/home/tui/helix/default.nix
  modules/home/tui/helix/languages-core.nix
  modules/home/tui/helix/languages-extended.nix
  modules/home/tui/nh.nix
  modules/system/nix.nix
  pkgs/helix-steel-modules/default.nix
  pkgs/lumen/default.nix
  pkgs/scooter-hx/default.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-desktop
  tests/_snapshots/hosts-hp-probook-vmware
  tests/_snapshots/modules-maintenance
  tools/scripts/guard-downgrades.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): expose zellij web session over tailnet
  home/profiles/m920q/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  modules/home/tui/default.nix
  modules/home/tui/windows-terminal.nix
  modules/home/tui/zellij-remote.nix
  modules/system/homelab/default.nix
  modules/system/homelab/zellij-web.nix
  secrets/secrets.yaml
  tests/_snapshots/modules-homelab
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

fix(ci): parallelize cachix push workflow per host
  .github/workflows/cachix-push.yml
Due: actionlint

fix(homelab,zellij): usable web-session PATH and silent WSL powershell fallback
  modules/home/shells/fish/plugins.nix
  modules/system/homelab/zellij-web.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(zellij): replace local auto-start with SSH auto-attach
  hosts/shared.nix
  modules/home/shells/fish/default.nix
  modules/home/tui/windows-terminal.nix
  modules/home/tui/zellij.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared/wlr-which-key.nix
  modules/system/emergency-shell.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(zellij): use build-time session name instead of ZELLIJ_SESSION_NAME env var
  home/profiles/desktop/default.nix
  home/profiles/hp-probook-vmware/default.nix
  home/profiles/hp-probook-wsl/default.nix
  home/profiles/m920q/default.nix
  home/profiles/portable/default.nix
  home/profiles/surface/default.nix
  hosts/desktop/default.nix
  hosts/hp-probook-vmware/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  hosts/portable/default.nix
  hosts/shared.nix
  hosts/surface/default.nix
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(zellij): pass resolved hostConfig to home-manager so SSH auto-attach renders
  hosts/default.nix
Due: none

chore(ai): stop tracking auto-generated .lsp.json
  .gitignore
  .lsp.json
Due: none

fix(jj): prune merged branch bookmarks in jjwork cleanup
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): defer network daemon restarts to nightly window
  hosts/m920q/default.nix
  modules/home/tui/nh.nix
  modules/system/deployment-validation.nix
  modules/system/homelab/ssh-hardened.nix
  modules/system/maintenance.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tui): add zellij plugin packages and refresh flake inputs
  .github/workflows/cachix-push.yml
  .github/workflows/weekly-updates.yml
  README.md
  flake-parts/packages.nix
  flake.lock
  flake.nix
  home/profiles/desktop/default.nix
  home/profiles/desktop/niri.nix
  home/profiles/m920q/niri.nix.specialisation
  modules/home/gui/default.nix
  modules/home/gui/obsidian.nix
  modules/home/gui/prusaslicer.nix
  modules/home/gui/spicetify.nix
  modules/home/profiles/features.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/zellij-remote.nix
  modules/home/tui/zellij.nix
  modules/home/wm/niri/default.nix
  modules/system/airplay-receiver.nix
  modules/system/fonts.nix
  modules/system/homelab/adguardhome.nix
  modules/system/maintenance.nix
  modules/system/media-client.nix
  modules/system/nix.nix
  modules/system/nixpkgs-overlays.nix
  pkgs/zellij-plugins/build-wasm.nix
  pkgs/zellij-plugins/default.nix
  pkgs/zellij-plugins/harpoon.Cargo.lock
  pkgs/zellij-plugins/harpoon.patch
  pkgs/zellij-plugins/zellij-attention.Cargo.lock
  pkgs/zellij-plugins/zellij-attention.patch
  pkgs/zellij-plugins/zellij-forgot.Cargo.lock
  pkgs/zellij-plugins/zellij-forgot.patch
  pkgs/zellij-plugins/zjstatus-hints.Cargo.lock
  pkgs/zellij-plugins/zjstatus-hints.patch
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-containers
  tests/_snapshots/modules-homelab
  tools/scripts/guard-downgrades.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

