Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

chore: update flake.lock
  flake.lock
Due: none

fix(helix): replace removed nodePackages with top-level packages
  modules/home/tui/helix/languages-extended.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: replace all removed nodePackages references with top-level packages
  modules/home/gui/editors/zed-extended.nix
  modules/home/tui/helix/languages-core.nix
  modules/system/development.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(lumen): update hash for main branch
  pkgs/lumen/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix: export starship-jj package and pin lumen to specific commit
  flake.nix
  pkgs/lumen/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(installer): activate swap before nixos-install to prevent OOM
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(installer): use PARTLABEL to find swap partition reliably
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): defer niri-gui specialisation until after initial install
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(installer): copy sops key to /mnt/per after disko, tolerate chown failure
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore: update flake.lock after merge with weekly updates
  flake.lock
Due: none

fix(users): add SSH authorized key for schausberger
  system/core/users.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(display-manager): guard entire module with lib.mkIf (hostConfig.wms != [])
  modules/system/default.nix
  modules/system/display-manager.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): activate samba, immich, monitoring and declarative AdGuard setup on m920q
  hosts/m920q/default.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(secrets): add grafana, samba, adguardhome credentials for m920q
  .envrc
  hosts/shared-tui.nix
  modules/home/tui/sops.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(secrets): add grafana, samba, adguardhome credentials for m920q
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

fix(adguardhome): clear StateDirectory to avoid conflict with impermanence bind mount
  modules/system/homelab/adguardhome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(repo): recover lost changes and re-land April config
  .envrc
  .gitignore
  .lsp.json
  flake.lock
  flake.nix
  garnix.yaml
  home/profiles/hp-probook-vmware/vmware-clipboard.nix
  hosts/m920q/default.nix
  hosts/shared-tui.nix
  modules/home/tui/default.nix
  modules/home/tui/helix/default.nix
  modules/home/tui/sops.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/ironbar.nix
  modules/home/wm/shared/ironbar.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/monitoring.nix
  modules/system/nix.nix
  pkgs/helix-steel/default.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-containers
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

Fix flake.nix - use vitals instead of stethoscope
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(desktop): set nvme disk id, stable ssd mount, enable tailscale
  hosts/desktop/default.nix
  hosts/desktop/disko.nix
  hosts/desktop/hardware/hardware-configuration.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(install-remote): export zfs pool and reboot after nixos-install
  .pre-commit-config.yaml
  apps/install-remote.nix
  apps/nixos-anywhere.nix
  flake-parts/apps.nix
  flake-parts/dev.nix
  flake-parts/packages.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(cosmic): adapt to upstream cosmic-manager breaking API changes
  modules/home/wm/cosmic/cosmic-panels.nix
  modules/home/wm/cosmic/cosmic-shortcuts.nix
  modules/home/wm/cosmic/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: migrate lazyjj to jjui, consolidate ironbar, replace swww with awww, remove WSL backup tooling, update flake.lock
  flake.lock
  home/profiles/hp-probook-wsl/default.nix
  hosts/hp-probook-wsl/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/shells/fish/plugins.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/jujutsu.nix
  modules/home/tui/nh.nix
  modules/home/wm/cosmic/default.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/ironbar.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/home/wm/shared/ironbar.nix
  modules/home/wm/shared/swww-coordinated.nix
  modules/system/backup.nix
  modules/system/default.nix
  modules/system/tui.nix
  modules/system/wsl-integration.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
  tools/scripts/WSL-Backup-Orchestrator.ps1
  tools/scripts/wsl-backup-hpprobook.sh
  tools/scripts/wsl-smoke-test.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat: refactor AI assistants, extract treesitter grammars, simplify opencode module
  flake.lock
  flake.nix
  home/profiles/hp-probook-vmware/default.nix
  home/profiles/m920q/default.nix
  lib/treesitter-grammars.nix
  modules/home/tui/ai-assistants/claude-code/agents/nix-expert.md
  modules/home/tui/ai-assistants/claude-code/agents/nix-testing.md
  modules/home/tui/ai-assistants/claude-code/default.nix
  modules/home/tui/ai-assistants/claude-code/hooks/documentation-policy.sh
  modules/home/tui/ai-assistants/claude-code/hooks/nix-expert.sh
  modules/home/tui/ai-assistants/claude-code/hooks/nix-testing.sh
  modules/home/tui/ai-assistants/default.nix
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/notifier.nix
  modules/home/tui/ai-assistants/opencode/openchamber-service.nix
  modules/home/tui/ai-assistants/skills/nix-expert/SKILL.md
  modules/home/tui/ai-assistants/skills/nix-testing/SKILL.md
  modules/home/tui/neovim.nix
  modules/home/tui/nixvim/default.nix
  modules/home/tui/nixvim/plugins/treesitter.nix
  system/core/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs: inline module comments, merge intel-cpu into power-management, remove jolt
  CLAUDE.md
  README.md
  hosts/boot-zfs.nix
  hosts/default/10-sops.nix
  hosts/desktop.nix
  hosts/desktop/default.nix
  hosts/helpers.nix
  hosts/hp-probook-vmware.nix
  hosts/hp-probook-vmware/default.nix
  hosts/hp-probook-wsl.nix
  hosts/hp-probook-wsl/default.nix
  hosts/lib.nix
  hosts/m920q.nix
  hosts/m920q/default.nix
  hosts/portable.nix
  hosts/portable/default.nix
  hosts/shared-gui.nix
  hosts/shared-tui.nix
  modules/home/wm/shared/cthulock.nix
  modules/home/wm/shared/keybind-definitions.nix
  modules/home/wm/shared/options.nix
  modules/home/wm/shared/wired.nix
  modules/home/wm/shared/wl-gammarelay.nix
  modules/system/containers.nix
  modules/system/default.nix
  modules/system/deployment-validation.nix
  modules/system/emergency-shell.nix
  modules/system/gdrive-mount.nix
  modules/system/hardware/amd-gpu.nix
  modules/system/hardware/battery.nix
  modules/system/hardware/intel-cpu.nix
  modules/system/hardware/power-management.nix
  modules/system/maintenance.nix
  modules/system/performance-profiles.nix
  modules/system/wm/cosmic.nix
  modules/system/wm/gnome.nix
  modules/system/wm/hyprland.nix
  modules/system/wm/niri.nix
  modules/system/wsl-integration.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test: refresh coverage-critical-paths snapshot ordering
  tests/_snapshots/coverage-critical-paths
Due: none

feat: consolidate host config and add security hardening
  .github/workflows/weekly-updates.yml
  .lsp.json
  config-installer.nix
  config.nix
  flake.lock
  flake.nix
  home/profiles/desktop/hyprland.nix
  home/profiles/m920q/niri.nix.specialisation
  home/profiles/shared.nix
  hosts/default.nix
  hosts/desktop/base-config.nix
  hosts/desktop/default.nix
  hosts/helpers.nix
  hosts/hp-probook-vmware/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  hosts/surface/default.nix
  lib/profiles.nix
  modules/home/tui/vitals.nix
  modules/home/tui/zellij.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/shared/awww-coordinated.nix
  modules/system/airplay-receiver.nix
  modules/system/default.nix
  modules/system/gdrive-mount.nix
  modules/system/maintenance.nix
  modules/system/media-client.nix
  modules/system/nix.nix
  modules/system/security-hardening.nix
  modules/system/sops-common.nix
  modules/system/wifi.nix
  modules/vitals.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-desktop
  tests/_snapshots/packages-starship-jj
  tests/hosts-desktop/expr.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: update nix formatter to treefmt, refresh dependencies and snapshots
  .lsp.json
  flake-parts/dev.nix
  flake.lock
  home/persistence-tui.nix
  hosts/default.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/zellij.nix
  modules/home/wm/niri/default.nix
  modules/system/airplay-receiver.nix
  modules/system/containers.nix
  modules/system/display-manager.nix
  modules/system/gaming.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/caddy.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/ssh-hardened.nix
  modules/system/homelab/tailscale.nix
  modules/system/steam.nix
  modules/system/sunshine.nix
  modules/system/wifi.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-desktop
  tests/_snapshots/modules-containers
  tests/_snapshots/modules-homelab
  tests/coverage-critical-paths/expr.nix
  tests/hosts-desktop/expr.nix
  tests/modules-containers/expr.nix
  tests/modules-homelab/expr.nix
  tests/modules-homelab/format.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: remove unused code from m920q profile and fish shell
  home/profiles/m920q/default.nix
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns
