Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

.pre-commit-config.yaml:

# Prek configuration - drop-in replacement for pre-commit hooks
exclude: |
  (?x)^(
    flake\.lock|
    home/default\.nix|
    home/profiles/default\.nix|
    hosts/default\.nix
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  # Temporarily disabled: prek uses rustls with outdated certificate roots preventing PyPI access
  # Re-enable once prek updates to use native-tls or updated webpki-roots
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: check-yaml
  #       args: [--allow-multiple-documents]
  #     - id: check-json
  #     - id: check-toml
  #     - id: check-merge-conflict
  #     - id: check-executables-have-shebangs
  #       types: [executable]
  #     - id: end-of-file-fixer
  #       exclude: ^tests/_snapshots/
  #     - id: trailing-whitespace
  #     - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: actionlint
        name: GitHub Actions workflow linter
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: false
      - id: namaka-check
        name: Namaka snapshot tests
        entry: namaka check
        language: system
        files: \.nix$
        pass_filenames: false
      - id: detect-unused-modules
        name: Detect unused modules
        entry: tools/scripts/detect-unused-modules.sh
        language: system
        files: ^modules/.*\.nix$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: conventional-commits
        name: Validate conventional commits
        entry: tools/scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]
      - id: installer-authorized-keys
        name: Validate installer authorized_keys
        entry: tools/scripts/check-installer-keys.sh
        language: system
        pass_filenames: false
      - id: fish-syntax-check
        name: Fish shell syntax check
        entry: fish --no-execute
        language: system
        files: \.fish$
      - id: dangerous-shell-patterns
        name: Check for dangerous shell patterns
        entry: tools/scripts/check-dangerous-patterns.sh
        language: system
        files: \.nix$|\.fish$
      - id: pre-commit-hook-ensure-sops
        name: Ensure SOPS secrets are encrypted
        entry: pre-commit-hook-ensure-sops
        language: system
        files: ^secrets/secrets\.yaml$

feat: update MCP servers, AI assistants, and kernel snapshots
  garnix.yaml
  home/profiles/m920q/niri.nix.specialisation
  hosts/m920q/default.nix
  modules/system/homelab/caddy.nix
  modules/system/homelab/default.nix
  modules/system/homelab/rustdesk.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-homelab
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): remove caddy, rustdesk, wifi specialization; exclude from garnix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(ci): fix yamlfmt hook, remove stale test dirs, accept pending snapshots
  .pre-commit-config.yaml
  home/profiles/desktop/default.nix
  home/profiles/hp-probook-vmware/default.nix
  home/profiles/hp-probook-wsl/default.nix
  home/profiles/m920q/default.nix
  home/profiles/portable/default.nix
  home/profiles/surface/default.nix
  hosts/desktop/default.nix
  hosts/desktop/hardware/hardware-configuration.nix
  hosts/disko-zfs-template.nix
  hosts/m920q/default.nix
  hosts/m920q/disko.nix
  hosts/shared.nix
  justfile
  lib/defaults.nix
  modules/home/shells/default.nix
  modules/home/shells/fish/default.nix
  modules/home/shells/fish/functions/default.nix
  modules/home/tui/ai-assistants/claude-code/default.nix
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/default.nix
  modules/home/tui/markdown-oxide.nix
  modules/home/tui/nixvim/plugins/obsidian.nix
  modules/home/tui/nixvim/plugins/vimwiki.nix
  modules/home/tui/zellij.nix
  modules/system/gdrive-mount.nix
  modules/system/hardware/power-management.nix
  modules/system/home-manager.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/default.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/samba.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
  tools/scripts/shell-health-check.fish
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat: m920q nextcloud, desktop dpool + WoL, refresh GitHub token
  .lsp.json
  flake.lock
  home/profiles/m920q/default.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/system/homelab/default.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

fix: skip openldap tests, format files, update namaka snapshots
  home/profiles/m920q/default.nix
  hosts/desktop/default.nix
  modules/system/homelab/nextcloud.nix
  secrets/secrets.yaml
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

fix: vitals issues, greetd VT, sops age persistence, /per/repos, SSH desktop entry, format files, PostgreSQL WAL archiving, nixpkgs 26.11
  flake.lock
  flake.nix
  hosts/desktop/default.nix
  hosts/desktop/hardware/hardware-configuration.nix
  hosts/portable/hardware/hardware-configuration.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/git.nix
  modules/system/display-manager.nix
  modules/system/hardware/amd-gpu.nix
  modules/system/home-manager.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/remote-control.nix
  modules/system/persistence-postgresql.nix
  modules/system/steam.nix
  system/core/persistence.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(hyprland): convert config to lua and optimize for game streaming
  home/profiles/desktop/hyprland.nix
  hosts/desktop/default.nix
  lib/hosts.nix
  modules/home/gui/editors/vscode-core.nix
  modules/home/gui/editors/vscode-extended.nix
  modules/home/wm/hyprland/animations.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/hyprland/keybinds.nix
  modules/home/wm/hyprland/themes.nix
  modules/system/home-manager.nix
  modules/system/stylix-catppuccin.nix
  modules/system/sunshine.nix
  secrets/secrets.yaml
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

refactor(vcs): extract smart jj/git aliases into dedicated fish module
  modules/home/shells/fish/functions/default.nix
  modules/home/shells/fish/functions/vcs-aliases.nix
  modules/home/tui/git.nix
  modules/home/tui/jujutsu.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: desktop WM switch, greetd VT, persistence, mounts
  flake.lock
  flake.nix
  home/profiles/desktop/niri.nix.specialisation
  hosts/desktop/default.nix
  hosts/hp-probook-vmware/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  hosts/portable/default.nix
  hosts/surface/default.nix
  modules/home/gui/browsers/firefox-common.nix
  modules/system/airplay-receiver.nix
  modules/system/home-manager.nix
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  modules/system/stylix-catppuccin.nix
  modules/system/wm/hyprland.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: desktop WM switch to Niri, greetd tuigreet startup, remote display mode control
  home/profiles/desktop/niri-home.nix
  home/profiles/desktop/niri.nix.specialisation
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  justfile
  lib/hosts.nix
  modules/home/tui/ai-assistants/lsp-config.nix
  modules/system/display-manager.nix
  modules/system/hardware/amd-gpu.nix
  modules/system/homelab/remote-control.nix
  modules/system/sunshine.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-desktop
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(desktop): enable Sunshine in Niri specialisation for Moonlight streaming
  hosts/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix: Moonlight streaming input and resolution for Pixel 9a
  .github/workflows/ci.yml
  flake.lock
  flake.nix
  home/profiles/desktop/niri-home.nix
  home/profiles/desktop/niri.nix
  home/profiles/desktop/niri.nix.specialisation
  hosts/desktop/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/wm/niri/default.nix
  modules/system/display-manager.nix
  modules/system/homelab/remote-control.nix
  modules/system/sunshine.nix
  system/core/default.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: remove Garnix, update docs/snapshots, fix deprecations, remove unused pkgs
  .github/workflows/ci.yml
  .github/workflows/weekly-updates.yml
  .lsp.json
  CLAUDE.md
  README.md
  flake.lock
  flake.nix
  garnix.yaml
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/shells/fish/plugins.nix
  modules/home/shells/starship.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/nh.nix
  modules/system/home-manager.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/nextcloud.nix
  modules/system/maintenance.nix
  modules/system/nix.nix
  modules/system/wm/niri.nix
  modules/system/wm/shared-packages.nix
  system/network.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/coverage-critical-paths.new
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

ci: bump GitHub Actions versions and add Dependabot for auto-updates
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
  .github/workflows/weekly-updates.yml
Due: actionlint

feat: add Navidrome, enhance homelab modules, Niri WM blur/popup/blur, ghostty/wezterm padding, PostgreSQL tune, fix jj d --stat
  flake.lock
  flake.nix
  hosts/m920q/default.nix
  modules/home/gui/terminals/ghostty.nix
  modules/home/gui/terminals/wezterm.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/default.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/navidrome.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
  modules/system/persistence-postgresql.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/coverage-critical-paths.new
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(deps): bump the github-actions group with 5 updates (#24)
  .github/workflows/github-pages.yml
  .github/workflows/weekly-updates.yml
Due: actionlint

feat: add Navidrome, enhance homelab modules, Niri WM blur/popup/blur… (#25)
  flake.lock
  flake.nix
  hosts/m920q/default.nix
  modules/home/gui/terminals/ghostty.nix
  modules/home/gui/terminals/wezterm.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/niri/keybinds.nix
  modules/system/homelab/adguardhome.nix
  modules/system/homelab/backup.nix
  modules/system/homelab/default.nix
  modules/system/homelab/monitoring.nix
  modules/system/homelab/navidrome.nix
  modules/system/homelab/nextcloud.nix
  modules/system/homelab/samba.nix
  modules/system/persistence-postgresql.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/coverage-critical-paths.new
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: remove unused old lambda arg in openldap override, format with alejandra
  hosts/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(ci): rewrite weekly-updates.yml, guard shellHook behind CI check
  .github/workflows/weekly-updates.yml
  flake-parts/dev.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat: wezterm config-builder refactor, herdr agent, hp-probook-wsl updates, jj workflow improvements
  .pre-commit-config.yaml
  CLAUDE.md
  flake-parts/dev.nix
  flake.nix
  home/profiles/hp-probook-wsl/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/hp-probook-wsl/hardware/hardware-configuration.nix
  modules/home/gui/terminals/wezterm.nix
  modules/home/shells/fish/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/shells/starship.nix
  modules/home/tui/ai-assistants/default.nix
  modules/home/tui/ai-assistants/herdr/default.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/home/tui/ai-assistants/opencode/herdr-agent-state.js
  modules/home/tui/cachix.nix
  modules/home/tui/zellij.nix
  modules/home/wm/niri/keybinds.nix
  modules/home/wm/shared/keybind-definitions.nix
  modules/home/wm/shared/wlr-which-key.nix
  modules/system/nix.nix
  system/core/default.nix
  tests/_snapshots/modules-deployment-validation
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat: recover lost changes, fix CI, enforce single-branch workflow
  .github/workflows/ci.yml
  .github/workflows/stale-branches.yml
  CLAUDE.md
  flake-parts/dev.nix
  flake.lock
  flake.nix
  home/profiles/desktop/niri.nix.specialisation
  hosts/desktop/default.nix
  hosts/hp-probook-wsl/default.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/claude-code/claude-hooks-config.sh
  modules/home/tui/ai-assistants/claude-code/hooks/documentation-policy.sh
  modules/home/tui/ai-assistants/claude-code/statusline.sh
  modules/home/wm/hyprland/sysinfo.sh
  modules/home/wm/niri/sysinfo.sh
  modules/system/homelab/default.nix
  modules/system/homelab/ssh-hardened.nix
  modules/system/sunshine.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/modules-containers
  tools/scripts/check-dangerous-patterns.sh
  tools/scripts/detect-unused-modules.sh
  tools/scripts/generate-quality-dashboard.sh
  tools/scripts/profile-boot.sh
  tools/templates/nix/src/main.sh
Due: actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: jjpush bookmark detection, Immich resource limits, Tailscale routing
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/jujutsu.nix
  modules/system/homelab/immich.nix
  modules/system/homelab/tailscale.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(deps): bump actions/checkout from 6 to 7 in the github-actions group (#30)
  .github/workflows/ci.yml
  .github/workflows/github-pages.yml
  .github/workflows/quality-gates.yml
  .github/workflows/weekly-updates.yml
Due: actionlint

fix(jj): anchor jjwork/jjpush to main@origin, disable advance-branches
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/jujutsu.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: support preceding-line suppresses in dangerous-shell-patterns checker
  hosts/hp-probook-wsl/default.nix
  tools/scripts/check-dangerous-patterns.sh
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns
