Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

feat(niri): use niri-unstable package, Catppuccin focus ring, fix mounts and tooling
  flake.nix
  hosts/desktop/default.nix
  justfile
  modules/home/gui/terminals/ghostty.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/shared/stasis.nix
  modules/system/display-manager.nix
  modules/system/session/niri.nix
  modules/system/wm/niri.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): pre-userspace hang timer + bless-driven bad-gen cleanup
  hosts/m920q/default.nix
  modules/system/boot-fallback.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(niri): use niri-unstable package, Catppuccin focus ring, fix mounts and tooling (#134)
  flake.nix
  hosts/desktop/default.nix
  justfile
  modules/home/gui/terminals/ghostty.nix
  modules/home/wm/niri/default.nix
  modules/home/wm/shared/stasis.nix
  modules/system/display-manager.nix
  modules/system/session/niri.nix
  modules/system/wm/niri.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): pre-userspace hang timer + bless-driven bad-gen cleanup (#135)
  hosts/m920q/default.nix
  modules/system/boot-fallback.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(moonshine): use round steam app icon for tile boxart
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(moonshine): use round steam app icon for tile boxart (#136)
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): drop console=ttyS0 kernel param that hung boot after EFI stub
  hosts/boot-zfs.nix
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): drop console=ttyS0 kernel param that hung boot after EFI stub (#137)
  hosts/boot-zfs.nix
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(desktop): consolidate Steam runtime, selectable file manager, scoped Zed GPU env
  home/profiles/desktop/hyprland.nix
  hosts/desktop/default.nix
  modules/home/gui/editors/zed-core.nix
  modules/home/profiles/features.nix
  modules/home/tui/nh.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/niri/default.nix
  modules/system/steam.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(desktop): consolidate Steam runtime, selectable file manager, scoped Zed GPU env (#138)
  home/profiles/desktop/hyprland.nix
  hosts/desktop/default.nix
  modules/home/gui/editors/zed-core.nix
  modules/home/profiles/features.nix
  modules/home/tui/nh.nix
  modules/home/wm/hyprland/default.nix
  modules/home/wm/niri/default.nix
  modules/system/steam.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  pr-body.md
Due: none

chore: daily dependency update (#139)
  flake.lock
  pr-body.md
Due: none

chore: daily dependency update (#140)
  flake.lock
  pr-body.md
Due: none

chore: daily dependency update
  flake.lock
Due: none

chore: daily dependency update (#141)
  flake.lock
Due: none

chore: daily dependency update (#142)
  flake.lock
Due: none

refactor(zellij): atomic attach --create for SSH auto-attach
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(boot-fallback): guard expected-nonzero pipelines under set -euo pipefail
  modules/system/boot-fallback.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): retest 6.18 kernel line
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

refactor(deploy-guard): shared compare lib, freshness gate, no bulk bypass
  README.md
  flake-parts/dev.nix
  modules/home/tui/nh.nix
  modules/system/comin.nix
  tools/scripts/check-freshness.sh
  tools/scripts/detect-downgrades.sh
  tools/scripts/guard-downgrades.sh
  tools/scripts/lib-downgrade-compare.sh
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(jj): split jj-tidy janitor out of jjwork, fix jjpush for stacks
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(moonshine): X11 socket dir for Xwayland, longer Steam launch timeout
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

hardening stack: deploy-guard, boot, kernel, shell, moonshine (#143)
  README.md
  flake-parts/dev.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/nh.nix
  modules/system/boot-fallback.nix
  modules/system/comin.nix
  modules/system/moonshine.nix
  tools/scripts/check-freshness.sh
  tools/scripts/detect-downgrades.sh
  tools/scripts/guard-downgrades.sh
  tools/scripts/lib-downgrade-compare.sh
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  pr-body.md
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#144)
  flake.lock
  pr-body.md
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-homelab
Due: none

fix(m920q): auto-import backup pools on syncoid schedule; drop invalid AdGuard key; update vitals input
  flake.lock
  modules/system/backup.nix
  modules/system/homelab/adguardhome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): auto-import backup pools on syncoid schedule; drop invalid AdGuard key; update vitals input (#145)
  flake.lock
  modules/system/backup.nix
  modules/system/homelab/adguardhome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

