Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

feat(monitoring): deliver alerts via Prometheus, Alertmanager and alertmanager-ntfy
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests-vm/monitoring-alerting.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): deliver alerts via Prometheus, Alertmanager and alertmanager-ntfy (#428)
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests-vm/monitoring-alerting.nix
  tests/_snapshots/modules-monitoring
  tests/modules-monitoring/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(maintenance): move metric-based health alerts into Prometheus
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): responsive Grafana dashboards via v2 auto-grid
  modules/system/homelab/fritz-dashboard.json
  modules/system/homelab/garmin-dashboard.json
Due: none

feat(homelab): responsive Grafana dashboards via v2 auto-grid (#430)
  modules/system/homelab/fritz-dashboard.json
  modules/system/homelab/garmin-dashboard.json
Due: none

refactor(maintenance): move metric-based health alerts into Prometheus (#429)
  modules/system/homelab/monitoring.nix
  modules/system/maintenance.nix
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test(monitoring): cover the new host-health rules in the alerting VM test
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci: migrate GitHub-hosted runners to ubuntu-26.04
  .github/actionlint.yaml
  .github/workflows/cachix-push.yml
  .github/workflows/ci.yml
  .github/workflows/daily-updates.yml
  .github/workflows/github-pages.yml
  .github/workflows/vm-tests-nightly.yml
  .pre-commit-config.yaml
Due: actionlint

chore(tools): drop dead evaluation and closure profilers
  justfile
  tools/scripts/check-closure-size.sh
  tools/scripts/profile-boot.sh
  tools/scripts/profile-evaluation.sh
Due: none

feat(monitoring): emit deploy metrics from an activation script
  modules/system/comin.nix
  modules/system/homelab/monitoring.nix
  tools/scripts/emit-deploy-metrics.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ocws): automate multi-agent workspace hygiene
  AGENTS.md
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

test(monitoring): cover the new host-health rules in the alerting VM test (#431)
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci: migrate GitHub-hosted runners to ubuntu-26.04 (#434)
  .github/actionlint.yaml
  .github/workflows/cachix-push.yml
  .github/workflows/ci.yml
  .github/workflows/daily-updates.yml
  .github/workflows/github-pages.yml
  .github/workflows/vm-tests-nightly.yml
  .pre-commit-config.yaml
Due: actionlint

feat(monitoring): emit deploy metrics from an activation script (#432)
  modules/system/comin.nix
  modules/system/homelab/monitoring.nix
  tools/scripts/emit-deploy-metrics.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore(tools): drop dead evaluation and closure profilers (#433)
  justfile
  tools/scripts/check-closure-size.sh
  tools/scripts/profile-boot.sh
  tools/scripts/profile-evaluation.sh
Due: none

feat(ocws): automate multi-agent workspace hygiene (#435)
  AGENTS.md
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): correct config-health dashboard units and ranges
  modules/system/homelab/config-health-dashboard.json
Due: none

fix(homelab): wait for Grafana before the calendar sync runs
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(garmin): expand all-day recurring events with a date-only UNTIL
  pkgs/garmin-calendar-sync/garmin-calendar-sync.py
Due: none

fix(monitoring): correct config-health dashboard units and ranges (#436)
  modules/system/homelab/config-health-dashboard.json
Due: none

fix(garmin): expand all-day recurring events with a date-only UNTIL (#437)
  pkgs/garmin-calendar-sync/garmin-calendar-sync.py
Due: none

fix(homelab): wait for Grafana before the calendar sync runs (#438)
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(monitoring): query vitals_issues after the vitals rename
  modules/system/homelab/config-health-dashboard.json
Due: none

refactor(monitoring): query vitals_issues after the vitals rename (#439)
  modules/system/homelab/config-health-dashboard.json
Due: none

refactor(jj): package the jj workflow tools and harden workspace reclaim
  flake-parts/packages.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  pkgs/jj-slug/default.nix
  pkgs/jj-tools/default.nix
  pkgs/jj-tools/jj-tidy.nix
  pkgs/jj-tools/jjpush.nix
  pkgs/jj-tools/jjtest.nix
  pkgs/jj-tools/jjwork.nix
  pkgs/jj-tools/ocws.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(jj): package the jj workflow tools and harden workspace reclaim (#440)
  flake-parts/packages.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
  pkgs/jj-slug/default.nix
  pkgs/jj-tools/default.nix
  pkgs/jj-tools/jj-tidy.nix
  pkgs/jj-tools/jjpush.nix
  pkgs/jj-tools/jjtest.nix
  pkgs/jj-tools/jjwork.nix
  pkgs/jj-tools/ocws.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(jj): make jj-tidy jj-native and dedupe the PR helpers
  modules/home/shells/fish/functions/jj.nix
  pkgs/jj-tools/jj-tidy.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(jj): make jj-tidy jj-native and dedupe the PR helpers (#441)
  modules/home/shells/fish/functions/jj.nix
  pkgs/jj-tools/jj-tidy.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(boot): cap systemd-boot generations to fit the small ESP
  hosts/boot-zfs.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(moonshine): fill non-Steam emulator tiles via gamescope
  modules/system/emulation.nix
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(boot): cap systemd-boot generations to fit the small ESP (#443)
  hosts/boot-zfs.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(droid): manage the phone user environment with Home Manager
  droid/default.nix
  droid/home.nix
  flake-parts/droid.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(niri): provide Xwayland through niri's built-in integration
  home/profiles/hp-probook-vmware/vmware-clipboard.nix
  modules/home/wm/niri/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(droid): manage the phone user environment with Home Manager (#444)
  droid/default.nix
  droid/home.nix
  flake-parts/droid.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(niri): provide Xwayland through niri's built-in integration (#445)
  home/profiles/hp-probook-vmware/vmware-clipboard.nix
  modules/home/wm/niri/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(flake): resolve walker/elephant with the Nix 2.20 in nix-on-droid
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(moonshine): fill non-Steam emulator tiles via gamescope (#442)
  modules/system/emulation.nix
  tests/_snapshots/hosts-desktop
  tests/hosts-desktop/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(flake): resolve walker/elephant with the Nix 2.20 in nix-on-droid (#446)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(session): restore the inherited PATH for the on-demand niri session
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(fish): force-delete dead zellij sessions so reattach can heal
  modules/home/shells/fish/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

