Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

chore: daily dependency update (#256)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#257)
  flake.lock
  lock.patch
Due: none

chore: remove CLAUDE.md shim
  CLAUDE.md
Due: none

chore: remove CLAUDE.md shim (#258)
  CLAUDE.md
Due: none

docs: move research doc to wiki, untrack PR body artifact
  .gitignore
  docs/NIX_TEST_EXTENSION.md
  pr-body.md
Due: none

docs(agents): tighten documentation policy and skills list
  AGENTS.md
Due: none

docs(agents): tighten documentation policy and skills list (#259)
  .gitignore
  AGENTS.md
  docs/NIX_TEST_EXTENSION.md
  pr-body.md
Due: none

chore: daily dependency update (#261)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#262)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#263)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#264)
  flake.lock
  lock.patch
Due: none

fix(opencode): drop stale NODE_TLS_REJECT_UNAUTHORIZED=0 from the v1 wrapper
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): schema pins and native attention alerts for the v2 cli config
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): schema pins and native attention alerts for the v2 cli config (#265)
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): drop stale NODE_TLS_REJECT_UNAUTHORIZED=0 from the v1 wrapper (#266)
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): add 20%-free early warning alert before FilesystemFull
  modules/system/homelab/monitoring.nix
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(nix): disable determinate-nixd managed garbage collection
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): nightly quiet window - power policy and daytime job schedule
  hosts/m920q/default.nix
  modules/system/default.nix
  modules/system/night-quiet.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(m920q): nightly quiet window - power policy and daytime job schedule (#267)
  hosts/m920q/default.nix
  modules/system/default.nix
  modules/system/night-quiet.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(nix): disable determinate-nixd managed garbage collection (#269)
  hosts/m920q/default.nix
  modules/system/default.nix
  modules/system/night-quiet.nix
  modules/system/sops-common.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(monitoring): add 20%-free early warning alert before FilesystemFull (#268)
  hosts/m920q/default.nix
  modules/system/default.nix
  modules/system/homelab/monitoring.nix
  modules/system/night-quiet.nix
  modules/system/sops-common.nix
  tests/_snapshots/modules-monitoring
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

docs(flake): record why the opencode-v2 pin cannot track latest upstream
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

docs(flake): record why the opencode-v2 pin cannot track latest upstream (#270)
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

docs(flake): correct the opencode-v2 completion-breakage note
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

docs(flake): correct the opencode-v2 completion-breakage note (#271)
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(ocws): persist workspaces in ~/.local/share/ocws by default
  AGENTS.md
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): guard primary-checkout edits in the v2 config
  AGENTS.md
Due: none

feat(opencode): ask before edits to the primary checkout in v2
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(opencode): guard primary-checkout edits in the v2 config (#272)
  AGENTS.md
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/opencode/shared.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(ocws): claim discipline, primary-checkout policy, persistent workspace base
  AGENTS.md
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/behaviors.nix
  modules/home/tui/ai-assistants/skills/jj-workspaces/SKILL.md
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

opencode-v2: bump pin to v2.0.11
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

