Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

feat(vcs): harden jjwork cleanup, add jj-hygiene recipe, disable git auto-gc (#104)
  justfile
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/git.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tailscale): decouple work laptop from tailnet-managed DNS
  hosts/hp-probook-wsl/default.nix
  modules/system/tailscale.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): stop timer-disarm false positives, auto-heal real ones, dedup downgrade alerts
  modules/system/maintenance.nix
  tools/scripts/detect-downgrades.sh
  tools/scripts/test-detect-downgrades.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(maintenance): stop timer-disarm false positives, auto-heal real ones, dedup downgrade alerts (#107)
  modules/system/maintenance.nix
  tools/scripts/detect-downgrades.sh
  tools/scripts/test-detect-downgrades.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tailscale): decouple work laptop from tailnet-managed DNS (#106)
  hosts/hp-probook-wsl/default.nix
  modules/system/tailscale.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tailscale): restore tailnet DNS on work laptop after global-resolver removal
  hosts/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(tailscale): restore tailnet DNS on work laptop after global-resolver removal (#110)
  hosts/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(comin): auto-push described local work ahead of convergence
  CLAUDE.md
  flake.lock
  flake.nix
  home/profiles/m920q/default.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/system/airplay-receiver.nix
  modules/system/comin.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/opencode-web.nix
  modules/system/maintenance.nix
  modules/system/moonshine.nix
  modules/system/tailscale.nix
  tests-vm/deferred-maintenance.nix
  tests-vm/streaming-services.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-homelab
  tests/hosts-m920q/expr.nix
  tests/modules-comin/expr.nix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(homelab): phone-friendly m920q access (opencode web + zellij web) (#109)
  CLAUDE.md
  flake.lock
  flake.nix
  home/profiles/m920q/default.nix
  hosts/desktop/default.nix
  hosts/m920q/default.nix
  modules/home/shells/fish/functions/jj.nix
  modules/home/tui/ai-assistants/opencode/default.nix
  modules/system/airplay-receiver.nix
  modules/system/comin.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/opencode-web.nix
  modules/system/maintenance.nix
  modules/system/moonshine.nix
  modules/system/tailscale.nix
  tests-vm/deferred-maintenance.nix
  tests-vm/streaming-services.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-homelab
  tests/hosts-m920q/expr.nix
  tests/modules-comin/expr.nix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ci): auto-merge with PAT so bot merges trigger cachix-push
  .github/workflows/auto-merge.yml
Due: actionlint

fix(ci): auto-merge with PAT so bot merges trigger cachix-push (#111)
  .github/workflows/auto-merge.yml
Due: actionlint

refactor(desktop): headless-first Moonshine streaming, drop Sunshine leftovers
  home/profiles/desktop/hyprland.nix
  home/profiles/desktop/niri.nix.specialisation
  hosts/desktop/default.nix
  lib/hosts.nix
  modules/home/wm/niri/default.nix
  modules/system/gaming.nix
  modules/system/homelab/remote-control.nix
  modules/system/moonshine.nix
  modules/system/nix.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(nix): skip xdg-desktop-portal tests pending nixpkgs#511228
  modules/system/nix.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

refactor(desktop): headless-first Moonshine streaming, drop Sunshine leftovers (#112)
  home/profiles/desktop/hyprland.nix
  home/profiles/desktop/niri.nix.specialisation
  hosts/desktop/default.nix
  lib/hosts.nix
  modules/home/wm/niri/default.nix
  modules/system/gaming.nix
  modules/system/homelab/remote-control.nix
  modules/system/moonshine.nix
  modules/system/nix.nix
  tests/_snapshots/coverage-critical-paths
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(comin): never rebase live working copy during autopush
  flake-parts/packages.nix
  modules/home/shells/fish/functions/jj.nix
  modules/system/comin.nix
  pkgs/jj-slug/default.nix
  tests/_snapshots/modules-comin
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(comin): never rebase live working copy during autopush (#114)
  flake-parts/packages.nix
  modules/home/shells/fish/functions/jj.nix
  modules/system/comin.nix
  pkgs/jj-slug/default.nix
  tests/_snapshots/modules-comin
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jjpush): drop empty undescribed ancestors before pushing
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(jjpush): drop empty undescribed ancestors before pushing (#115)
  modules/home/shells/fish/functions/jj.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  pr-body.md
  update-output.txt
Due: none

chore: daily dependency update (#116)
  flake.lock
  pr-body.md
  update-output.txt
Due: none

chore: daily dependency update
  flake.lock
Due: none

chore: daily dependency update (#117)
  flake.lock
Due: none

chore: daily dependency update
  flake.lock
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-containers
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#118)
  flake.lock
  tests/_snapshots/modules-comin
  tests/_snapshots/modules-containers
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#119)
  flake.lock
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

