Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

chore(sops): remove unused bitwarden master password
  modules/home/tui/rbw.nix
  modules/system/sops-common.nix
  secrets/secrets.yaml
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

ci: remove advisory flake-health job (#294)
  .github/workflows/ci.yml
Due: actionlint

envrc: derive the age key through SOPS_AGE_KEY_CMD (#295)
  .envrc
Due: none

chore(sops): remove unused bitwarden master password (#296)
  modules/home/tui/rbw.nix
  modules/system/sops-common.nix
  secrets/secrets.yaml
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(sops): decrypt with per-host keys and vault-wire the installer
  .sops.yaml
  apps/install-remote.nix
  apps/new-host-keys.nix
  flake-parts/apps.nix
  hosts/installer/README.md
  hosts/installer/ssh_keys/README.md
  modules/system/sops-common.nix
  secrets/secrets.yaml
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(sops): decrypt with per-host keys and vault-wire the installer (#297)
  .sops.yaml
  apps/install-remote.nix
  apps/new-host-keys.nix
  flake-parts/apps.nix
  hosts/installer/README.md
  hosts/installer/ssh_keys/README.md
  modules/system/sops-common.nix
  secrets/secrets.yaml
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

fix(garmin): bootstrap influx provisioning order and wire fetcher startup
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(sops): correct Bitwarden sshkey payload in new-host-keys
  apps/new-host-keys.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(garmin): bootstrap influx provisioning order and wire fetcher startup (#298)
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(sops): correct Bitwarden sshkey payload in new-host-keys (#299)
  apps/new-host-keys.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(home): manage Obsidian vault config with copy-based activation
  home/profiles/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(home): manage Obsidian vault config with copy-based activation (#300)
  home/profiles/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(sops): repair newline-stripped private/id_ed25519 secret value
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

fix(sops): repair newline-stripped private/id_ed25519 secret value (#301)
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

feat(sops): guard the stored user SSH key with a prek check
  .pre-commit-config.yaml
  tools/scripts/check-sops-user-key.sh
Due: none

feat(sops): guard the stored user SSH key with a prek check (#302)
  .pre-commit-config.yaml
  tools/scripts/check-sops-user-key.sh
Due: none

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#303)
  flake.lock
  lock.patch
Due: none

fix(sops): decrypt hp-probook-wsl system secrets with its host key
  hosts/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci(cache): fall back to source builds when substituters fail
  .github/workflows/cachix-push.yml
  .github/workflows/ci.yml
  .github/workflows/daily-updates.yml
  .github/workflows/vm-tests-nightly.yml
Due: actionlint

fix(sops): decrypt hp-probook-wsl system secrets with its host key (#304)
  hosts/hp-probook-wsl/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

ci(cache): fall back to source builds when substituters fail (#305)
  .github/workflows/cachix-push.yml
  .github/workflows/ci.yml
  .github/workflows/daily-updates.yml
  .github/workflows/vm-tests-nightly.yml
Due: actionlint

fix(new-host-keys): correct key parsing and recipient checks
  apps/new-host-keys.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(new-host-keys): correct key parsing and recipient checks (#306)
  apps/new-host-keys.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

feat(tailscale): alert when a peer is reachable but nothing is delivered
  hosts/m920q/default.nix
  lib/ntfy-send.nix
  modules/system/homelab/ntfy.nix
  modules/system/maintenance.nix
  modules/system/tailscale.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-tailscale
  tests/hosts-m920q/expr.nix
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(tailscale): alert when a peer is reachable but nothing is delivered (#307)
  hosts/m920q/default.nix
  lib/ntfy-send.nix
  modules/system/homelab/ntfy.nix
  modules/system/maintenance.nix
  modules/system/tailscale.nix
  tests/_snapshots/hosts-m920q
  tests/_snapshots/modules-tailscale
  tests/hosts-m920q/expr.nix
  tests/modules-tailscale/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(garmin): run fetch engine from the console script entry point
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(garmin): run fetch engine from the console script entry point (#308)
  modules/system/homelab/garmin.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#309)
  flake.lock
  lock.patch
Due: none

fix(monitoring): authenticate Grafana datasource to InfluxDB
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): authenticate Grafana datasource to InfluxDB (#310)
  modules/system/homelab/monitoring.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#312)
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#313)
  flake.lock
  lock.patch
Due: none

fix(caddy): serve Grafana under the /grafana sub-path
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/monitoring.nix
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(caddy): serve Grafana under the /grafana sub-path (#311)
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/monitoring.nix
  tests-vm/monitoring-alerting.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(monitoring): align Garmin dashboard queries with the InfluxDB schema
  modules/system/homelab/garmin-dashboard.json
Due: none

feat(opencode): keep Zen free models visible in V1
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

