Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

chore: daily dependency update (#119)
  flake.lock
Due: none

chore: daily dependency update
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#121)
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#122)
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update (#124)
  flake.lock
  tests/_snapshots/modules-homelab
Due: none

chore: daily dependency update
  flake.lock
Due: none

chore: daily dependency update (#125)
  flake.lock
Due: none

fix(m920q): self-heal ZFS mount races & enable OOB recovery
  hosts/boot-zfs.nix
  hosts/m920q/default.nix
  modules/system/emergency-shell.nix
  modules/system/tailscale.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): self-heal ZFS mount races & enable OOB recovery (#126)
  hosts/boot-zfs.nix
  hosts/m920q/default.nix
  modules/system/emergency-shell.nix
  modules/system/tailscale.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#127)
  flake.lock
Due: none

feat(m920q): document optimal BIOS, silence SGX, add AMT SOL alias via sops
  hosts/m920q/default.nix
  modules/home/tui/amt.nix
  modules/home/tui/default.nix
  pr-body.md
  secrets/secrets.yaml
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(m920q): document optimal BIOS, silence SGX, add AMT SOL alias via sops (#128)
  hosts/m920q/default.nix
  modules/home/tui/amt.nix
  modules/home/tui/default.nix
  pr-body.md
  secrets/secrets.yaml
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

fix(sops): correct amt password encoding (remove double quotes)
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

fix(sops): correct amt password encoding (remove double quotes) (#129)
  secrets/secrets.yaml
Due: pre-commit-hook-ensure-sops

chore: daily dependency update
  flake.lock
  pr-body.md
Due: none

chore: daily dependency update (#130)
  flake.lock
  pr-body.md
Due: none

fix(amt,update): sops-env AMT auth, inline gh under timeout
  modules/home/tui/amt.nix
  pr-body.md
  secrets/secrets.yaml
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

fix(amt,update): sops-env AMT auth, inline gh under timeout (#131)
  modules/home/tui/amt.nix
  pr-body.md
  secrets/secrets.yaml
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns, pre-commit-hook-ensure-sops

feat(m920q): iris pin, opencode-seeded zellij web, opt-in reboots; retire remote-control, fix moonshine deps
  flake.lock
  flake.nix
  hosts/m920q/default.nix
  lib/homelab-ports.nix
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/remote-control.nix
  modules/system/homelab/zellij-web.nix
  modules/system/moonshine.nix
  pkgs/topology/default.nix
  pr-body.md
  tests-vm/caddy-proxy.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/homelab-port-sync
  tests/_snapshots/modules-homelab
  tests/_snapshots/topology
  tests/homelab-port-sync/expr.nix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix: pin iris to v0.6.3, stop kernel auto-reboot, seed zellij web opencode (#120)
  flake.lock
  flake.nix
  hosts/m920q/default.nix
  lib/homelab-ports.nix
  modules/system/homelab/caddy-proxy.nix
  modules/system/homelab/default.nix
  modules/system/homelab/homepage.nix
  modules/system/homelab/remote-control.nix
  modules/system/homelab/zellij-web.nix
  modules/system/moonshine.nix
  pkgs/topology/default.nix
  tests-vm/caddy-proxy.nix
  tests/_snapshots/coverage-critical-paths
  tests/_snapshots/homelab-port-sync
  tests/_snapshots/modules-homelab
  tests/_snapshots/topology
  tests/homelab-port-sync/expr.nix
  tests/modules-homelab/expr.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(moonshine): de keyboard, steam boxart, per-game scanner
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(moonshine): de keyboard, steam boxart, per-game scanner (#132)
  modules/system/moonshine.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): pin LTS kernel 6.12, quiet boot spam, iTCO watchdog
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): pin LTS kernel 6.12, quiet boot spam, watchdog, pause nightly reboot (#133)
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

