Repository FelixSchausberger/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, actionlint, alejandra, deadnix, statix, namaka-check, detect-unused-modules, fish-syntax-check, dangerous-shell-patterns, pre-commit-hook-ensure-sops

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

actionlint:
  name: GitHub Actions workflow linter
  entry: actionlint
  language: system
  pass_filenames: false

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: false

namaka-check:
  name: Namaka snapshot tests
  entry: namaka check
  language: system
  pass_filenames: false

detect-unused-modules:
  name: Detect unused modules
  entry: tools/scripts/detect-unused-modules.sh
  language: system
  pass_filenames: false

fish-syntax-check:
  name: Fish shell syntax check
  entry: fish --no-execute
  language: system

dangerous-shell-patterns:
  name: Check for dangerous shell patterns
  entry: tools/scripts/check-dangerous-patterns.sh
  language: system

pre-commit-hook-ensure-sops:
  name: Ensure SOPS secrets are encrypted
  entry: pre-commit-hook-ensure-sops
  language: system

fix(boot): tolerate bless on long-lived boots whose entry aged off the ESP
  modules/system/boot-fallback.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(homelab): declare ntfy-sh user for the fixed-user service (#236)
  modules/system/homelab/ntfy.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(boot): tolerate bless on long-lived boots whose entry aged off the ESP (#237)
  modules/system/boot-fallback.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(media): make the shared media library readable by navidrome and jellyfin
  modules/system/homelab/jellyfin.nix
  modules/system/homelab/navidrome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(media): make the shared media library readable by navidrome and jellyfin (#238)
  modules/system/homelab/jellyfin.nix
  modules/system/homelab/navidrome.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(deploy): nudge comin convergence via fetch RPC instead of restart
  README.md
  modules/home/tui/nh.nix
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(deploy): nudge comin convergence via fetch RPC instead of restart (#239)
  README.md
  modules/home/tui/nh.nix
  tools/scripts/update-system.sh
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(emulation): add Switch emulation via eden with Moonshine tiles
  modules/system/emulation.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

feat(emulation): add Switch emulation via eden with Moonshine tiles (#240)
  modules/system/emulation.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update
  flake.lock
  lock.patch
Due: none

chore: daily dependency update (#241)
  flake.lock
  lock.patch
Due: none

fix(watchdog): re-assert nmi_watchdog after powertop auto-tune
  modules/system/watchdog.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(m920q): pin /dev/watchdog0 to the iTCO timer by blacklisting intel_oc_wdt
  hosts/m920q/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(boot): enable boot-fallback module on desktop
  hosts/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(m920q): pin /dev/watchdog0 to the iTCO timer by blacklisting intel_oc_wdt (#242)
  hosts/m920q/default.nix
  modules/system/watchdog.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(boot): enable boot-fallback module on desktop (#243)
  hosts/desktop/default.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(agents): point opencode2 at its isolated config dir via OPENCODE_CONFIG_DIR
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(mcp): make github MCP server independent of the spawning shell
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(agents): point opencode2 at its isolated config dir via OPENCODE_CONFIG_DIR (#244)
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(mcp): make github MCP server independent of the spawning shell (#245)
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(session-on-demand): make the on-demand session start survivable
  modules/system/display-hotplug.nix
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): unset OPENCODE_CONFIG_DIR in the v1 wrapper
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(gaming): persist the dolphin-emu analytics opt-out
  modules/home/profiles/features.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(opencode): unset OPENCODE_CONFIG_DIR in the v1 wrapper (#248)
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(session-on-demand): make the on-demand session start survivable (#247)
  modules/system/display-hotplug.nix
  modules/system/session-on-demand.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(gaming): persist the dolphin-emu analytics opt-out (#249)
  modules/home/profiles/features.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(ci): run yamlfmt from the devshell instead of prek's golang hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  flake-parts/dev.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(ci): run yamlfmt from the devshell instead of prek's golang hook (#250)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  flake-parts/dev.nix
Due: actionlint, alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

fix(mcp): stop the GitHub PAT from breaking opencode auth and inject the MCP token at runtime
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(mcp): stop the GitHub PAT from breaking opencode auth and inject the MCP token at runtime (#251)
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/default.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(mcp): exclude the github server from opencode V1 until the tool mapping crash is fixed
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

fix(mcp): exclude the github server from opencode V1 until the tool mapping crash is fixed (#252)
  modules/home/tui/ai-assistants/mcp-servers.nix
  modules/home/tui/ai-assistants/opencode/v2.nix
Due: alejandra, deadnix, statix, namaka-check, detect-unused-modules, dangerous-shell-patterns

chore: daily dependency update (#253)
  flake.lock
  lock.patch
Due: none

opencode-v2: bump pin to v2.0.9 so OPENCODE_CONFIG_DIR isolates the config dir
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

opencode-v2: bump pin to v2.0.9 so OPENCODE_CONFIG_DIR isolates the config dir (#254)
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix, namaka-check, dangerous-shell-patterns

chore: daily dependency update (#255)
  flake.lock
  lock.patch
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  namaka-check: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  detect-unused-modules: any of: ^modules/.*\.nix$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  fish-syntax-check: any of: \.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  dangerous-shell-patterns: any of: \.nix$|\.fish$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

  pre-commit-hook-ensure-sops: any of: ^secrets/secrets\.yaml$, but not: (?x)^(
  flake\.lock|
  home/default\.nix|
  home/profiles/default\.nix|
  hosts/default\.nix
)$

